[2016-04-03 00:42] gc435 opened #1 "Claim not found when running my own service"
I can run the unmodified sample just fine, but I'm trying to run it with my own settings.  I changed `Tenant`, `ClientId`, and `PolicyId` in `Web.config`.  On the Xamarin side, in `App.cs` I changed `ClientId`, `SignUpSigninPolicy`, `Authority`, and `APIbaseURL` to my own settings.

I can create users and authenticate, but the web service throws an exception because `string owner = ClaimsPrincipal

[2016-04-03 02:24] gc435 commented on #1
I think I figured it out.  I added the `objectId` claim **after** I had already created this policy.  I created a new policy with a different name and the proper claims, and now it works.  It appears that editing a policy does not really work.  The portal says updates might take one minute, but I definitely waited longer than that.

Also, the Xamarin app still works when the B2C portal toggle for

[2016-05-23 22:02] tnjyothi opened #2 "After signing up once, cookies storing password and cannot signout and signin with different user"
1. Go to
https://github.com/Azure-Samples/active-directory-b2c-xamarin-native
download xamarin sample code ,configure policies and your tenant
2. Run the code
3. Click on signup signin
4. Signup with local account
5. Click on signout
6. click on signup sign

Actual: It should allow to signup/sign in with different user
automatically signing in with signed up user crdentials
Video: \\scratch2\scrat

[2016-07-14 01:26] dstrockis commented on #2
Fixed server side.

[2016-07-14 01:26] #2 closed

[2016-07-14 01:27] #1 closed

[2016-07-25 21:34] dstrockis opened #4 "Social IDPs giving error during login"
Frequently, upon selecting a social IDP in this sample, the login will fail displaying a correlation ID and generic error message from AAD B2C.

This is due to an improper request being sent to the social IDP by Azure AD B2C.  We are investigating and will update here when possible.

For now the recommendation is to use local accounts to complete the sample.

[2016-08-05 10:56] trinnguyen commented on #4
We are having this issue as well, usually having server_error on Facebook/LinkedIn Login but after few times try to AcquireToken again, it gives Success Result.

We are using Xamarin + MSLA.

Do you have an estimate for next update about this bug fixed? Thanks

[2016-08-23 13:29] trinnguyen commented on #4
Hi @dstrockis , can you give us some updates on this issue?
We are now using MSAL .Net and Xamarin for authentication with Facebook and LinkedIn, having this issue many times.

These is no update on MSAL .Net https://github.com/AzureAD/microsoft-authentication-library-for-dotnet these days, even on their dev branch, I tried and got this issue as well.

Please confirm that this issue happen on MSAL

[2017-01-05 00:56] jasonchester commented on #4
I would also like an update on this issue.

[2017-04-09 05:33] Jeremywhiteley commented on #4
I would like and update on this issue as well,  we are using Facebook to login with Azure AD B2C

[2017-04-09 21:46] gsacavdm commented on #4
Hey guys, can you share the error message (and correlation ID if applicable) that you're getting so that we can investigate from our side?

[2017-05-09 23:51] gsacavdm commented on #4
I'm closing this issue as there has been a major update to the library and the sample. If anyone still encounters this, please share the error message and correlation ID so that we can investigate.

[2017-05-09 23:51] #4 closed

[2017-05-10 20:27] SaeedAkhter-MSFT opened #7 "Sample doesn't work properly on the iOS emulator"
While the this sample runs fine in an actual iOS device, it does not work properly on the iOS emulator.
We are investigating and will update the sample if necessary.

[2017-05-18 14:45] jonathanmtg opened #8 "Log in for iPhone 6s (iOS 10.2) Simulator Log-in Infinite Loop"
When using active-directory-b2c-xamarin-native on an iPhone 6s (iOS 10.2) Simulator, after authenticating I am passed back to the log in screen even though I receive a new IdToken from GetTokenAsync.  This loop appears to be infinite.

[2017-05-18 19:40] jonathanmtg commented on #8
It appears the cache is not storing the IUser object after logging in.

[2017-05-19 17:18] onionhammer opened #9 "MsalClientException when using custom sign in policy"
We're using an identity provider with SAML integration with the new MSAL client, when we use the default sign in policy (B2C_1_Default) the authentication token comes back fine, when we use the custom policy (which works fine for the old experimental ADAL library) we get the following error:

[code]

It looks like the response object doesnt include a couple things, causing errors

Response when us

[2017-05-19 21:55] gsacavdm commented on #9
This is a known issue. We're working on getting this fixed.
Adding @parakhj and @rojasja for visibility

[2017-05-20 03:18] parakhj commented on #9
@onionhammer Please update your custom policy...

Add the following line:
`<Item Key="SendTokenResponseBodyWithJsonNumbers">true</Item>`
in your 'JwtIssuer' technical profile (it should be in your base file).

Final result:

        <TechnicalProfile Id="JwtIssuer">
          <DisplayName>JWT Issuer</DisplayName>
          <Protocol Name="None" />
          <OutputTokenFormat>JWT</OutputTokenForma

[2017-05-20 03:32] gsacavdm commented on #8
MSAL for Xamarin has known issues with the iPhone/iOS emulators. In the interim, can you deploy to an iPhone to see if this behavior repro's? It should not be a problem on actual devices.

[2017-05-20 04:17] adamjbradley opened #10 "Safari cannot open the page because the address is invalid."
"Safari cannot open the page because the address is invalid". Reply URL is set as per https://github.com/Azure-Samples/active-directory-b2c-xamarin-native

Login experience looks like this https://goo.gl/Ttp59I

[2017-05-20 04:55] gsacavdm commented on #9
Starter pack for custom policies has also been updated. Closing this issue.

[2017-05-20 04:55] #9 closed

[2017-05-20 05:47] gsacavdm commented on #10
Just to confirm, is this with the default values in the sample or did it work with those and you are only having this issue when you update them to your own?

If only happening with your own, can you confirm that you specified it in all of the following:
* AppDelegate.cs
* Info.plist
* Added it to the app registration in the B2C portal.

If so, can you share the tenant name so that we can take a l

[2017-05-20 07:10] onesimusaz commented on #10
I am having the EXACT same problem. (thanks adam for the video)

[2017-05-20 14:36] gsacavdm commented on #10
So it worked when you ran with the default values but stopped working when you changed it to your app, your policy, etc etc. Did you confirm all three places where the redirect URI is configured? Can you provide your tenant name @onesimusaz ?

[2017-05-20 16:38] onesimusaz commented on #10
I was never able to get the sample to work. I actually found an error in the sample that I reported to the publisher. I was able to get it to work with Android.

Also, I am only seeing the redirect Uri defined in one place in application in AppDelegate.cs. I have confirmed that the redirect Uri is the same as the redirect Uri defined in the Application configuration in AAD b2c.

If you can provide

[2017-05-20 17:57] gsacavdm commented on #10
What error are you referring to when you say this:

As for the redirect Uri, for iOS, you also need to update the info.plist entry:

In the URL types, section, you also need to update the following entry:
[code]

[2017-05-20 18:13] onesimusaz commented on #10
Is that just supposed to be the application ID or is it supposed to be the complete redirectUri?

my redirectUri is msalXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX://auth.

my CFBundleURLSchemes is
<string>msalXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</string>

where the Xs are my application id.

[2017-05-20 18:15] onesimusaz commented on #10
I don't feel comfortable exposing my tenant name and application ID in a public forum. Can I send you this information some other way?

[2017-05-20 19:14] gsacavdm commented on #10
CFBundleURLSchemes of msalXXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX is correct.
I'll ping you offline to troubleshoot further.

[2017-05-23 16:00] zerog33k opened #11 "Method 'Android.Support.CustomTabs.CustomTabsIntent.LaunchUrl' not found after package update."
I am unable to get this example to work on android if I update the Android nuget packages to the recent 25.3.1 version.

To recreate this issue just download the example and update the nuget packages. I need to get this to work with the recent version.

[2017-05-23 23:58] danieldobalian commented on #11
Hi @zerog33k, does the test device you're using have Chrome installed on the device?  Android versions of 25+ have it by default, but you may have deleted it by mistake.

We have some [steps of how to install Chrome](https://github.com/Azure-Samples/active-directory-general-docs/blob/master/AndroidEmulator.md) on the device if this is the case.

If you do and are still experiencing this, can you g

[2017-05-24 04:09] zerog33k commented on #11
This is running the Xamarin forms app in this example. I get the same error when I try to integrate the MSAL 1.1 preview library into our code. It works fine on the iOS side.

Here's what the log looks like with all of the MSAL log output. The last line is when the exception is thrown.

---------: MSAL 1.1.0.0 MSAL.Xamarin.Android 25 [05/24/2017 03:57:21 - 4102c2fa-e009-48b4-b681-26a5a2e806df] ===

[2017-05-24 11:34] Mohamed-Benhazzez commented on #10
I'm facing the same issue. Please, could you help me how to fix it ?

[2017-05-24 19:04] adamjbradley commented on #10
Gerardo,
My Tenant. Happy to provide more information if required.
//Adam

[2017-05-24 21:29] gsacavdm commented on #10
We resolved this for @onesimusaz . I've also updated the readme with better instructions with regards to registering the web app, web API and setting the scopes.

When we've seen this, the causes have been:
* Value in `UserDetailsClient.iOS\info.plist` is incorrect, double check that it's in the form **msal[APPLICATIONID]** (no colon, slash or *'auth'*)
* Value in `UserDetailsClient.iOS\AppDelegat

[2017-05-24 21:29] #8 closed

[2017-05-24 21:29] gsacavdm commented on #8
Leaving #7 open in place of this one.

[2017-05-25 09:49] Mohamed-Benhazzez commented on #10
Thanks @gsacavdm, the issue has been fixed. I updated info.plist such as below:

<key>CFBundleURLTypes</key>
   <array>
     <dict>
       <key>CFBundleTypeRole</key>
       <string>Editor</string>
       <key>CFBundleURLName</key>
       <string>com.yourcompany.UserDetailsClient</string>
       <key>CFBundleURLSchemes</key>
       <array>
         <string>msal90c0fe63-bcf2-44d5-8fb7-b8bbc0b29dc6<

[2017-05-25 16:02] gsacavdm commented on #10
Good to know @Mohamed-Benhazzez, so what the problem that you missed updating the info.plist file or did you update it but did so with the wrong value (and if so, what was the wrong value)?

[2017-05-30 14:00] zerog33k commented on #11
For what it's worth, I was able to get around this issue by taking the 1.1-preview release code, updating the android packages, and manually building a nuget package.

[2017-06-02 10:28] ppopadiyn commented on #11
I started getting the same error after upgrading from v23 to the latest v25. After rollback again to v23, it started working again. I will try also the suggested workaround for building against the latest packages.

[2017-06-10 19:54] cvanbeek13 opened #13 "System.TypeLoadException from UIParent on Android"
I was using this code to setup my B2C code after updating to Microsoft.Identity.Client version 1.1.0 and ran into the following problem when I ran it on Android:

The code compiled and the Build completed but when I debugged it on my Galaxy S5, it crashed before making it to the MainActivity OnCreate() method.  Here is the exception it listed:

06-10 14:34:03.883 E/mono    (22353): Unhandled Excep

[2017-06-12 23:04] parakhj commented on #13
Does it crash after you click "Sign in"?

[2017-06-13 21:42] cvanbeek13 commented on #13
No, it crashes before the app is even started.  I'm using Xamarin.Forms PCL and starting the PCL app from the MainActivity of the Android App, but when I debugged it, it crashed before OnCreate() of the MainActivity was even started.

[2017-06-13 21:48] parakhj commented on #13
@danieldobalian or @vibronet any advice?

[2017-06-13 22:01] danieldobalian commented on #13
@cvanbeek13 looks like this may be a Xamarin issue as described here: https://developercommunity.visualstudio.com/content/problem/54624/could-not-load-type-of-field-xamarinformsdesignxam.html.  Can you try upgrading to the version the chat is talking about here and retry?

[2017-06-13 23:02] sfrsebastian opened #14 "Android slow login redirection"
The sample runs fine on an Android device. Is it normal that it takes quite a while (at least 15 seconds) to redirect the user to the login page?

[2017-06-14 00:09] cvanbeek13 commented on #13
I had to uninstall and reinstall all my NuGet packages, they're back to the same versions now as they were before.  This error is stopped (gotta love Xamarin), but now it won't load the Android UI, so I'll be fidgeting with that for a while.  Thank you for the help!

[2017-06-14 20:18] daspuru commented on #11
zerog33k, I tried to do your fix, but I was not able to upgrade packages in the 1.1-previw solution code, as I am using VS For mac I think. Can you send me your Nuget? d a s p u r u @ g m a i l (dot) com

[2017-06-14 21:26] danieldobalian commented on #14
That's not normal.  Just to check, are you running the original sample code, or have you made some changes?

Can you enable logging and post the logs here?  That'll help see if the app is taking awhile to pop the system browser, or to actually load the page.

To turn on full MSAL logging, you'll need to implement a little bit of code like [here (web app)](https://github.com/AzureAD/microsoft-authe

[2017-06-14 22:26] sfrsebastian commented on #14
I'm running the original code on an LgG5 with Android 6.0.1, the only change I made was changing the minimum android version down to api level 23. I found out by testing on another device, a Samsung Galaxy S7 with Android 6.0.1, that the loading takes around 5 seconds (way less than on the LgG5).

I also tried to implement the logging part from the example you sent, but looks like no MSAL logging

[2017-06-14 23:10] sfrsebastian commented on #14
I just did some more testing and found out that the issue is related to my ISP. I changed the connection to my mobile plan and everything worked well. Thanks for the help @danieldobalian!

[2017-06-15 00:52] danieldobalian commented on #14
Great, glad to hear it.

[2017-06-15 00:52] #14 closed

[2017-06-18 17:42] TomWalkerCodes opened #15 "Stays on login screen after user has successfully logs in"
We are using the latest updates v1.10 within our MVP.  It never leaves the web login view once the user has successfully logged.

[2017-06-18 17:53] TomWalkerCodes opened #16 "AcquireTokenSilentAsync fails on User collection can't be null or empty"
I'm not clear on the use case for using AcquireTokenSilentAsync.  It seems way different workflow from previous version.  Now you have to force the user to login into the app each time in order to populate the PublicClientApplication User collection.  Before I was able to store the token securely and not have to worry about keeping a user object around.  If the token was valid the user had access

[2017-06-18 17:59] TomWalkerCodes opened #17 "Not clear as to the purpose of Scope parameter"
There is no documentation or explanation in the demo sample as the purpose of the Scope parameter.  I'm not clear on where in Azure AAD B2C tenant this parameter gets assigned.  Right now I've set this to empty string and it passes through the validation.

[2017-06-19 20:28] adamhockemeyer commented on #11
I just worked around this...basically you need to downgrade any xamarin.android support libraries from v25 to v23.  I was using a newer version of ACR.UserDialogs for example that required a newer version, so I needed to downgrade that package to and older version.

[2017-06-19 22:11] daspuru commented on #11
@adamhockemeyer Yes I know, I am also using ACR.UserDialogs, what versions did you have to use? Another thing I remember I read in a thread was that if you download the source code of the NuGet library for the Microsoft.Identity NuGet, and you upgrade the Android.Support.* pakages to compile to NuGet, the library will work.

The point is that I tried to do that in my VS for Mac and was not able to

[2017-06-19 22:18] parakhj commented on #15
Which client is this for? Android/iOS/Windows? You may need to fix the redirect URI so that the app is listening to that redirect uri scheme

[2017-06-19 22:25] parakhj commented on #17
Tom - Scopes are used to acquire specific types of tokens (id tokens, access tokens, or refresh tokens)

To acquire access tokens, see [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens).

[Reference for definition](https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oauth-code)

[2017-06-19 22:48] parakhj commented on #16
Could you provide code on how it worked "before"? Not sure what you are referring to

[2017-06-19 23:35] adamhockemeyer commented on #11
I'm VS for Mac as well.

For ACR.UserDialogs I'm using 6.3.10

I had to end up getting rid of several of the support libraries that were added in with the newer version the userdialogs.  It's building and running well now (finally).

Here are my versions of support libraries (with several being removed in order to get it to build).
`  <package id="Xamarin.Android.Support.Animated.Vector.Drawable"

[2017-06-19 23:48] daspuru commented on #11
@adamhockemeyer Thanks a lot! I will try.

[2017-06-22 20:04] daspuru commented on #11
Great, I finally made it work. Here is my packages (in project.json format as I am using .NET Standard):

`{
  "dependencies": {
    "Acr.UserDialogs": "6.3.10",
    "Autofac": "4.6.0",
    "ExifLib.PCL": "1.0.2-pre01",
    "Microsoft.Azure.Mobile": "0.13.0",
    "Microsoft.Azure.Mobile.Analytics": "0.13.0",
    "Microsoft.Azure.Mobile.Crashes": "0.13.0",
    "Microsoft.Identity.Client": "1.1.1-al

[2017-06-24 23:07] Jeremywhiteley opened #18 "UrL bar when logging in."
When I login using a iOS simulator, it gives me a URL bar at the top.  Is it possible to remove this?

[2017-06-26 17:18] Jeremywhiteley commented on #16
<img width="468" alt="screenshot 2017-06-26 10 18 13" src="https://user-images.githubusercontent.com/1545134/27551570-cadad93a-5a58-11e7-893e-b4fa48abeb1c.png">

[2017-06-26 18:19] parakhj commented on #18
That is a feature of the system browser in iOS. I do not believe it is possible, but worth double checking iOS documentation

[2017-06-26 18:20] #18 closed

[2017-06-26 18:37] Jeremywhiteley commented on #17
This blog post was a big help for this as well.

https://azure.microsoft.com/en-us/blog/azure-ad-b2c-access-tokens-now-in-public-preview/

[2017-06-26 20:34] Jeremywhiteley commented on #18
This is a show stopper for us.   I know you can do this in a Cordova app when calling a web view.   But I can't find any code that is calling a web view.

[2017-06-26 20:48] parakhj commented on #18
Adding @vibronet and @gsacavdm who may be able to point out the code.

Out of curiosity, what is it about the address bar that you dislike?

[2017-06-26 22:22] gsacavdm commented on #18
Sorry, I'm not familiar with any mechanism to achieve this.

[2017-06-27 20:15] Jeremywhiteley commented on #18
I don't want the users seeing a URL like that.   We should be able to hide it if we want to.  If you have a health app, a user could see that a security risk.   Also the other issue is one swipe and you can make the whole UI bigger.   All this can be controlled by adding code to the web view.  however the web view is created by the PublicClientApplication.AcquireTokenAsync method which comes from

[2017-06-27 20:34] parakhj commented on #18
We are working on an experience that hides Microsoft's name (uses a more generic name), and if you'd like, possibly even customize it to your own name.

You can control the UI of the page by customizing the log in experience and making it more mobile friendly. If needed, you can call different policies so that you display a different experience for web vs. mobile. Not the most elegant dev experien

[2017-06-29 22:37] Jeremywhiteley commented on #18
@parakhj This is awesome news!  I know another company that wants this as well!    Thank you!

[2017-06-29 22:39] daspuru commented on #18
We are also using AD B2C for a new app here. We would love to enhance this views. One tutorial for using XAML views in Xamarin.Forms and sending values by http requests for running the policies would be great addition too.

Thanks.

[2017-06-29 23:09] daspuru commented on #11
I hope someone at Microsoft can tell us when will the upgrade to this issue be available, as other libraries depend a lot on Xamarin.Android.Support latest package versions.

I think this is critical.

Thanks.

[2017-06-30 10:45] riturajpandey opened #19 "Azure MSAL login issue"
Hello guys

I am trying to login using username and password, after signup but getting following error
**Microsoft.Identity.Client.MsalServiceException: Returned user identifier does not match the sent user identifier at Microsoft.Identity.Client.Internal.Requests.RequestBase.SaveTokenResponseToCache ()**
I am using MSAL for login. and when we try to login with facebook, it works perfectly.

Pleas

[2017-06-30 17:48] parakhj commented on #19
This happens when you send a login hint or User into the acquireToken call and then the end user signs in with a different account. Hard to give specific guidance, but you may want to use a different overload without the login hint or User object.

[2017-07-02 15:43] andrewtyped opened #20 "Clarify Sample's Suitability for UWP"
Hi,

It took me a long time to realize this sample project was most suitable for UWP. I had been struggling with the [active-directory-b2c-dotnet-desktop](https://github.com/Azure-Samples/active-directory-b2c-dotnet-desktop) project, probably because I'm a WPF developer and think of UWP as its successor moreso than a companion to the other mobile frameworks. Could we add a tag or something to the

[2017-07-03 09:13] riturajpandey commented on #19
Can you please suggest me what i need to do? should i do any setting in azure portal?

[2017-07-03 15:53] #20 closed

[2017-07-03 16:05] parakhj commented on #19
It doesn't have anything to do with the azure portal - just how you are making the call in your code. Could you a send a snippet of the code?

Adding @danieldobalian for further comments.

[2017-07-03 16:36] riturajpandey commented on #19
Hello
thanks for response

Here is my login code
 public async static Task<bool> Login()
        {
			try
			{
				var ar = await App.PCA.AcquireTokenAsync(App.Scopes, LoginService.GetUserByPolicy(App.PCA.Users, App.PolicySignUpSignIn), App.UiParent);
				if (ar != null)
				{
					if (!string.IsNullOrEmpty(ar.IdToken))
					{
                        UserDialogs.Instance.ShowLoading("Loading...");

[2017-07-03 20:29] riturajpandey commented on #19
Hello Pankaj
I found another thing, when i try to login with Signup or signin policy, in this case i can only login with facebook, but when i try to login only with signin policy in this case i can only login with username and password not using facebook.

Can you help me out in this issue?

thanks

[2017-07-04 10:11] 7sharp9 opened #21 "AcquireTokenSilentAsync doesn't work on the iOS emulator"
Using `AcquireTokenSilentAsync` on the emulator always results in a failure, on an actual device the call succeeds _(Given a previous successful login)_

[2017-07-14 23:12] TomWalkerCodes commented on #15
Sorry, for the delay in response.   I'm just getting back to this issue.

Trying to using the updated MSAL library with a Xamarin.Forms.  I'm able to get the MSAL alpha version working with our application.  The leap from alpha version to v1.10 is really hurting alot.  MS team seems to have made the library more complicated to work with.

We have redirect URI which works.   I'm not clear on where

[2017-07-18 15:08] Jeremywhiteley commented on #21
Do you know when they are going to fix this or what the work around is?

[2017-07-19 20:49] danieldobalian commented on #21
@7sharp9 can you turn on MSAL logging and post the logs here?

My guess is there's some config issue with your iOS emulator that's preventing the tokens from being cache'd.

[2017-07-19 20:55] daspuru commented on #21
I suspect the issue is in the Keychain storage.

[2017-07-19 21:20] wislon commented on #21
@daspuru @7sharp9 @Jeremywhiteley it quite likely is related to keychain/shared storage and the entitlements.plist.

I ran into a similar problem on Android a while back, and put together a small howto/workaround for it over here: http://blog.wislon.io/posts/2016/12/05/msal-token-not-stored-on-android (it basically swaps out the token storage implementation). It worked on the iOS simulator too.

I

[2017-07-20 09:35] 7sharp9 commented on #21
@danieldobalian How do you turn on that logging?
@wislon I already have a populated `Entitlements.plist`, Im also using adhock enterprise provisioning, not sure if that makes any difference.

[2017-07-20 21:37] wislon commented on #21
@7sharp9 in that case, I would think that the provisioning profile wouldn't make a difference. assuming of course it's all related to shared storage/keystore in the first place 😉

[2017-07-20 22:18] daspuru commented on #21
How about this?

https://forums.developer.apple.com/thread/60617

It's just an idea as I don't use the simulators.

[2017-07-24 00:50] jhondev commented on #11
Same problem here

[2017-07-24 06:09] parakhj commented on #11
I would recommend filing an issue in this [repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet). It will hopefully get prioritized/resolved in the next version

[2017-07-24 06:46] parakhj commented on #15
Which client is this for? Android/iOS/Windows? I would also encourage providing the library feedback [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet), noting down the frustrations you've had since the update.

[2017-08-08 21:44] #17 closed

[2017-08-08 21:45] #13 closed

[2017-08-25 11:38] jhvanderven opened #22 "Redirect URI not working on Android"
Hi all,

I followed the procedure described in the readme. On iOS it works as expected, but on Android, I can provide my credentials but then I get "This site can't be reached", It shows the expected redirect url msal{appid}://auth/?state={very long token} ERR_UNKOWN_URL_SCHEME.

This is my manifest:

[code]
I have replaced {appid} with the id of my native application, not that of the API applicat

[2017-08-31 14:55] allussa opened #23 "Call API"
Hello,
I downloaded the code, I have configured the example with the data of my B2C azure, I have created two applications into the b2c tenant: one of native and the other web api, I have followed all the instructions provided, and when I call the api, I get the error: {"Message":"Authorization has been denied for this request."}

The API be made with Asp.net

Can you help me, please?

Toni

[2017-08-31 18:17] parakhj commented on #23
Please double check that you have published scopes and granted them properly. See: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens

If that doesn't help, please send screenshots of your set up in the portal, and then call web request that you are making

[2017-09-01 14:21] allussa commented on #23
Hello Parakhj,

I attach the configuration that I have of the Azure b2c:

Thanks,

[AD B2C - Configuration.pdf](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/files/1270527/AD.B2C.-.Configuration.pdf)

[2017-09-14 14:45] Journeyman42 commented on #11
Same issue

09-14 14:40:09.827 W/art     ( 4333): JNI RegisterNativeMethods: attempt to register 0 native methods for md54c4b48a882a4c6b363ccb67bdb21d5b2.CustomTabActivityHelper
09-14 14:40:09.901 D/Mono    ( 4333): Assembly Ref addref Authentication.Android[0xad031820] -> Microsoft.IdentityModel.Clients.ActiveDirectory.Platform[0xad031ac0]: 2
09-14 14:40:09.901 D/Mono    ( 4333): Assembly Ref add

[2017-09-18 04:55] parakhj commented on #23
Sorry for the late reply! Did you figure it out?

[2017-09-18 09:03] allussa commented on #23
Thanks. I have not it solved.

[2017-09-18 16:10] josuuribe opened #24 "AccessToken is null"
Hi,

Following all steps i have created (i have not added any scope) all elements, i am able to log in and user is registered, but AccessToken property is always null, however IdToken has a value, i suppouse it's a configuration issue but i do not know where is it.

Some people tells about is also necessary configure application authentication/authorization in Azure  and set "Azure Active Director

[2017-09-18 21:19] parakhj commented on #23
It looks good ... are you getting an access token successfully? And then are you passing that token when you make the call to the API?

[2017-09-18 21:20] parakhj commented on #24
Check out this doc to get started: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens

[2017-09-19 07:16] josuuribe commented on #24
Thanks, i am going to take a look, in the meantime in README.md step 6 point 4 says:

_Find the assignment for public static string ClientID and replace the value with the Application ID from Step 2._

Is it Application ID from step 2? is it not Application Id from step 5?

Thanks,

[2017-09-19 08:38] josuuribe commented on #24
Thanks for the link, it's very useful information, now it works but there are two mistakes in readme.md.

Step 4, point 4:

_(Optional) Once you're app is created, open the app's Published Scopes blade and add any extra scopes you want._

This is not optional, it's mandatory create a scope with "read" name (or any other name) and link between applications (your link explained it fine).

Step 6 poi

[2017-09-19 16:45] allussa commented on #23
Yes, The access token and id token is returned, but I don't know how to verify the access token manually. :-(

To call the API I use:

HttpClient client = new HttpClient();
HttpRequestMessage message = new HttpRequestMessage(HttpMethod.Get, App.ApiEndpoint);
message.Headers.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
HttpResponseMessage response = await

[2017-09-19 18:36] parakhj commented on #23
Pull out the access token and paste it into https://jwt.ms. Does the 'aud' claim match the client ID of your API?

[2017-09-19 18:43] allussa commented on #23
Yes, It does.

[2017-09-19 18:50] parakhj commented on #23
And do the scp claims match what your API is looking for in the code?

[2017-09-19 20:28] allussa commented on #23
Yes, It does.
Web.config:

<add key="api:ReadScope" value="read" />
<add key="api:WriteScope" value="write" />

Token:
scp | write read

In portal.azure, do the app service "web-api" requieres a specific configuration refent a b2c in the authentication settings?

Thanks

[2017-09-20 00:48] parakhj commented on #23
Hmm could you try turning that off? This is going to add additional authentication on top of the one that I assume you have added in your own code.

If you want to use authentication through that particular channel, then check out this [blog](https://blogs.msdn.microsoft.com/appserviceteam/2016/06/22/app-service-auth-and-azure-ad-b2c/)

[2017-09-20 06:39] #24 closed

[2017-09-20 10:57] tthiatma opened #25 "Cancelling Sign up throws exception"
Hello,

The application throws exception when I do below
Click sign in button -> Click sign up -> click cancel sign up
This exception found when testing on Android.

Please check below screenshot
![2017-09-20_3-53-19](https://user-images.githubusercontent.com/4022533/30640319-54afca20-9db7-11e7-9e9e-ede105c56b7a.png)

[2017-09-20 17:45] Ripper555 commented on #25
This is by design. Write code to check for it:
`try`
`            {`
`               AuthenticationResult ar = await App.PCA.AcquireTokenAsync(App.Scopes, `
`                   GetUserByPolicy(App.PCA.Users, App.PolicySignUpSignIn)`,
`                    App.UiParent);`

`                    UpdateUserInfo(ar);`
 `                   UpdateSignInState(true);`
 `            }`
`            catch(Exc

[2017-09-20 17:59] Ripper555 commented on #22
@jhvanderven You post helped me realize I didn't update my manifest. I'm not sure if this is you problem but don't forget to add Custom Redirect URI in the properties on azure:

`msal{appid}://auth`

Replacing the appid obviously.

[2017-09-21 05:40] tthiatma commented on #25
I see, thank you for the explanation (I'm pretty new to this).
I am able to catch the exception in OnSignInSignOut

[2017-09-21 05:40] #25 closed

[2017-09-28 12:39] pedramp20 opened #26 "How to define scope?"
In the provided example, the following string is presented as the scope and used to acquire the token. However, nowhere in the code or read me is explained clearly how this uri is constructed or defined.

public static string[] Scopes = { "https://fabrikamb2c.onmicrosoft.com/demoapi/demo.read" };

It is only mentioned in Step 4 that "You'll need your own API or at the very least, you'll need to re

[2017-09-28 13:28] josuuribe commented on #26
For me it was the same, read this => https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/24

[2017-09-28 18:34] pedramp20 commented on #26
Thank you @josuuribe

[2017-09-28 18:34] #26 closed

[2017-09-30 13:27] pedramp20 opened #27 "How to set the redirect uri on the portal"
I have configured the iOS and Android projects returned uri according to the instruction. However, I am not sure how to configure the custom redirect uri on the portal.
The example available on the documentation is as follows:

When I try to construct a custom uri similar to the example com.onmicrosoft.{tenant}.{appname}://redirect/path

I get the uri mismatch error and when I set the uri somethin

[2017-09-30 14:34] pedramp20 commented on #22
I have exactly the same problem. I have configured the projects according to the instruction and set the custom redirect uri on the portal. However, I get the same error as explained in the question.
@jhvanderven have you found any solution yet?

[2017-09-30 16:32] josuuribe commented on #22
@jhvanderven be care about activity, review tag <activity> it's <activity android:name="microsoft.identity.client.BrowserTabActivity"> not   <activity android:name="com.microsoft.windowsazure.mobileservices.authentication.RedirectUrlActivity" >
Use same example as provided in repo and replace {appid}

[2017-09-30 20:18] pedramp20 commented on #22
@josuuribe My AndroidManifest.xml is almost identical to the one provided example in the repo and I still have the problem.

`<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="24" />
  <application android:label="Xxx.Droid" android:theme="@style/MyTheme"></application>
  <uses-permission android:name="and

[2017-09-30 21:16] josuuribe commented on #22
@pedramp20
Try this as is changing appid, it works for me, also check that your redirect url is right in Azure.
[code]

[2017-10-01 10:10] pedramp20 commented on #22
@josuuribe
My manifest is exactly like what you posted. I need to include the theme definition otherwise I get an exception as I explained and I need to set the min sdk version to 23.

Regarding the dependencies, first the latest Microsoft.Identity.Client package available is 1.1.0-preview. I am not sure, how you could have  1.1.1-alpha0393

I have also updated all other packages to latest version

[2017-10-01 11:14] josuuribe commented on #22
I suggest you download the example and change the values pointing to your azure settings (tenant, appid, etc...) using **UWP** **not Android**, the example works fine in that way, you should be able to authenticate and be sure Azure is right configured.

The alpha version is required if you want to use the last package versions to avoid a bug related to tabs in Android (it's posted here in some pl

[2017-10-01 20:55] pedramp20 commented on #22
@josuuribe Thank you for your suggestion. I actually had tried it (Android) before and ended up wasting so much time fixing and debugging this code that eventually decided to start from scratch and integrate it in my project and spend time on my own project. It is such a shame that Microsoft and/or Xamarin haven't provided a working example and I am pretty sure many people have just given up becau

[2017-10-01 21:58] josuuribe commented on #22
@pedramp20  If the example works with the default values but not with your values you have a configuration problem in Azure or setting the right values in the example.

As a trick try to connect to Windows Store, if you can not access to it maybe you have a real connectivity problem (proxy, firewall,...) for example fiddler creates a proxy and produces that error.

[2017-10-02 05:54] jhvanderven commented on #22
Thanks for looking into this. I have not found a solution yet. @josuuribe
<https://github.com/josuuribe>: in my case the code works for iOS. So I
think that rules out a config error in Azure.

On Sun, Oct 1, 2017 at 11:58 PM, Josu Uribe <notifications@github.com>
wrote:

[2017-10-02 06:57] #27 closed

[2017-10-02 07:12] pedramp20 commented on #22
@josuuribe I am behind a proxy but if the proxy was the issue, how come it works with the original values?
I also can access Windows Store with no problem.
Regarding the azure configuration, I doubt that I have made a mistake, but I am wondering, if there is any tool that I can manually test my settings and eliminate possible code and/or package issues?

[2017-10-02 07:15] pedramp20 commented on #22
@jhvanderven Have you tried to modify your AndroidManifest.xml based on the example provided and see if it solves your problem?

[2017-10-02 07:45] josuuribe commented on #22
@pedramp20  If you can use the provide example without errors but changing the values for your values it does not work it is an Azure configuration error, the example worked for me using UWP with my own values. Follow all steps carefully and/or try to disable proxy to be sure it's not a problem.

[2017-10-02 09:31] josuuribe commented on #22
@pedramp20  First time i tested it i thought i did not create Web API neither key and it worked, you will need it later, do not try to make all steps and then test, test step-by-step.
Also i do not suggest use one or another i only say that both work.

[2017-10-02 10:16] pedramp20 commented on #22
Azure configuration is very unlikely to be the case. Since, I did another test and replaced my azure settings values in my project with the values of this example to point to fabrikamb2c tenant and I still got the same error message that this site cant be reached.

I should note that I am using .NET Standard Class Library rather than PCL and wondering if this could cause this issue?

[2017-10-02 11:34] pedramp20 commented on #15
I have the same issue with the Android client on a Samsung device (API 21) and  get "This site can't be reached", It shows the expected redirect url msal{appid}://auth/?state={very long token} might be temporarily down or it may have move permanently to a new web address. ERR_UNKOWN_URL_SCHEME." on another Samsung device (API 24)

[2017-10-02 12:05] josuuribe commented on #22
if using the example provided with your Azure settings you can not access it's an Azure configuration problem and if with Azure settings provided it does not work in your project you have also configuration problems in your project.

I do not know id standard/pcl is the problem (i use standard), really what is happening xamarin it's bringing to front a webview with azure login.

[2017-10-02 19:15] JPhilC opened #28 "Error: We can't connect to the service you need right now. Check your network connection or try this again later"
Hello all,

I have been trying to get this example to work. First Android, then iOS and finally with UWP simply to get better error results. Ideally I would like it working on iOS. I have a B2C client and a web API set up and working. How do I know this? Because I have the "active-directory-b2c-wpf" example working fine.

In the UWP client the application runs when when I click the sign in button

[2017-10-02 19:25] josuuribe commented on #28
Usually it menas you have a connectivity problem, possible a proxy like fiddler try to deactive them (or firewalls)

[2017-10-02 21:17] JPhilC commented on #28
Nope, if that was the case the wouldn't WPF client fail?

Same machine, two sessions of Visual Studio 2017. One with the B2C-wpf solution loaded the other with the B2C-Xamarin-Native solution loaded. Debug B2C-WPF solution with Fiddler running and it works fine. Debug the Xamarin solution and I get the error.

Shouldn't the PublicClientApp in both solutions be sending the same GET request down the

[2017-10-04 16:49] Ripper555 commented on #23
@parakhj @allussa
I'm having the same problem with my API ASP core 2. I have posted on:
https://github.com/Azure-Samples/active-directory-b2c-dotnetcore-webapi/issues/9

Please let me know if you have a fix or able to start on new asp core 2 project with B2C without a problem. Thanks.

[2017-10-04 17:05] Arsophia commented on #23
In .NET Core 2.0 The settings are a little bit different than .NET Core 1.1, here are my working settings for the API:

In Startup.cs (ConfigureServices method)
`services.AddAuthentication(options =>
			{
				options.DefaultScheme = JwtBearerDefaults.AuthenticationScheme;
			})
			.AddJwtBearer(options =>
				{
                    options.Authority = string.Format("https://login.microsoftonline.co

[2017-10-08 19:36] gsacavdm commented on #16
@TomWalkerCodes, re:

You don't. AcquireTokenSilent will pickup the user from the user collection if they have previously signed in. If I recall correctly, the challenge is MSAL and the iOS emulator don't get along quite nicely yet so that persistence doesn't work there, but if you deploy to an actual iOS device, AcquireTokenSilent should pick up a previously signed in user.

[2017-10-10 12:34] rajamaheshwarsingh opened #29 "How to specify custom URI for xamarin.forms mobile app for registration link"
How to specify custom URI for xamarin.forms mobile app when the user clicks on Register link on Azure B2C directory in sign-in page provided by Azure B2C directory.

In Azure portal, created custom link with URI "MyApplicatin://register". The link is visible in Azure login page in mobile application, but clicking on that link nothing is happening in the mobile app.

[2017-10-11 00:02] parakhj commented on #29
Sorry, could you add a few screenshots or code? Not fully sure what the issue is

[2017-10-11 04:55] rajamaheshwarsingh commented on #29
<img width="261" alt="login" src="https://user-images.githubusercontent.com/17141206/31422861-5816b008-ae6e-11e7-9de5-ed7bf67121f8.png">

[2017-10-11 04:58] rajamaheshwarsingh commented on #29
when the user clicks on "Sign up Now" link, the user should be redirected back to custom registration page in mobile app. Our project requirement is not to redirect the user to registration page give by AZURE B2C directory. Instead redirecting the user to custom registration page which is a xaml page (Xamarin.Forms).

[2017-10-11 04:58] #29 closed

[2017-10-13 08:43] tausif127 commented on #19
how do we set the value of UiParent? It getting null when I try AcquireTokenAsync.

[2017-10-20 05:15] punitganshani opened #30 "Sample doesn't work on Android (Nougat)"
Tried running the sample on Android Device as well as Genymotion emulator (Android 7.1, API 25) but when we click on SignIn button, the application just gives an `UnhandledException` with no details.

Followed all the steps mentioned in
`https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-xamarin-native/` and skipped all Optional steps.

The error occurs on

[code]

Is there a

[2017-10-20 07:07] josuuribe commented on #30
Take a look on Android output in VS, it's possible that you need to install alpha version due to a problem with CustomTabs.

[2017-10-20 13:44] punitganshani commented on #30
Not sure of this one. The unhandled exception isn't caused by the code

[2017-10-20 13:47] punitganshani commented on #30
Is this the right version https://www.nuget.org/packages/Xamarin.Android.Support.CustomTabs/26.1.0-beta1

[2017-10-20 15:05] matgutschow commented on #28
Ran into this issue as well running the UWP project, after looking at the sample code with the sample tenant and looking at the PCA object I was able to find that the `RedirectUri` property on the `PublicClientApplication` gets overridden from what you put in the `UserDetailsClient\App.cs`.  If you look in the [UserDetailsClient.UWP/MainPage.cs](https://github.com/Azure-Samples/active-directory-b2

[2017-10-30 07:32] daniel-kun opened #31 "Question: What is MainPageRenderer good for?"
Lacking a better place to ask questions, I opened an issue here. I hope this is OK.

What is the MainPageRenderer class good for? It essentially does nothing, but store the active page in a member variable. Additionally, I don't see the class instantiated.

[2017-10-31 13:54] SureshbabuLucky opened #32 "System.MissingMethodException: Method 'Android.Support.CustomTabs.CustomTabsIntent.LaunchUrl' not found."
Hi,

Experiencing exception in Azure AD B2C login by using MSAL Library on Android platform with the following two libraries when updated to latest version (26.1.0.1)

1. Xamarin.Android.Support.CustomTabs (version 26.1.0.1)
2. Xamarin.Android.Support.v4 (version 26.1.0.1)

Please download sample from the following link:

https://github.com/Azure-Samples/active-directory-b2c-android-native-msal

S

[2017-10-31 14:10] josuuribe commented on #32
Take a look here => https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/11

[2017-10-31 14:30] SureshbabuLucky commented on #11
Hi,

Experiencing exception in Azure B2C Directory login by using MSAL Library on Android platform with the following two libraries when updated to latest version (26.1.0.1)

1. Xamarin.Android.Support.CustomTabs (version 26.1.0.1)
2. Xamarin.Android.Support.v4 (version 26.1.0.1)

Note: Updating above two packages in MSAL sample also getting following error

Please download sample from the followi

[2017-10-31 14:45] josuuribe commented on #11
I solved it installing the alpha version

[2017-11-01 06:38] SureshbabuLucky commented on #32
@josuuribe,

Thanks for the suggestion.

I have taken look into that thread. They are suggesting to downgrade the Xamarin.Android.Support.Customtabs package to version 23.3.0. But in my project i'm unable downgrade the package from 26.1.0.1 to 23.3.0 because of having lot of dependencies.

[2017-11-01 09:10] SureshbabuLucky commented on #11
@josuuribe,

Thanks for suggestion.i am tried what you suggested thing but it's not working same exception will getting in android.

[2017-11-01 17:16] josuuribe commented on #32
This is my package list (it works 100%)

[code]

[2017-11-02 10:56] IvanZaporozhchenko opened #33 "Acquire token returns acessToken, but User, IdToken is null"
I follow the steps, but AcquireTokenAsync returns accessToken, but User and IdToken is null. Am I misconfigure something?

[2017-11-02 11:17] josuuribe commented on #33
Try => https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/24

[2017-11-02 14:46] IvanZaporozhchenko commented on #33
@josuuribe Thanks!
The root cause was putting WebApi and Native App into one Application. But it should be 2 different applications.
Also, I should grant access to the Native app for WebApi app.
Reading this one helps - https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-access-tokens

[2017-11-02 14:46] #33 closed

[2017-11-03 02:49] SureshbabuLucky commented on #32
@josuuribe ,Thanks a lot. It's Worked

[2017-11-05 15:51] #32 closed

[2017-11-05 16:03] gsacavdm commented on #24
Hey @josuuribe , your feedback is spot on. I've updated the readme (see https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/commit/076ed31f3af9c82cd131efcc97d32f1c4fe6cb57) as per your suggestions, though don't hesitate to submit your own PRs if you have any other suggestions or improvements.

[2017-11-05 16:11] gsacavdm commented on #31
At a high level, this is a key component of customizing the look-and-feel of your application. It doesn't do much in this sample because this is a simple Azure AD B2C sample. Check out more advance Xamarin docs & samples to see this guy in action, for example:

https://developer.xamarin.com/guides/xamarin-forms/application-fundamentals/custom-renderer/contentpage/

[2017-11-05 16:11] #31 closed

[2017-11-07 20:02] nalthoff commented on #28
the answer in @matgutschow worked for me. Thanks!

[2017-11-08 02:44] Paul-Schroeder commented on #11
@adamhockemeyer thank-you for posting your solution.  Changing the target Android version from 24 to 23 was the final piece that got this working for me.

[2017-11-09 10:22] rajamaheshwarsingh opened #34 "hide addressbar in browser"
i would like to hide addressbar in browser when using MSAL in xamarin.forms

[2017-11-09 15:53] #34 closed

[2017-11-14 01:00] BtrJay opened #35 "Profile edit policy asks users to sign in again although they are already logged in"
Hi all,

I've found this issue when I create a edit profile policy in Azure B2C and replicate the snippets from the sample.

The snippet below is from the sample

// KNOWN ISSUE:
// User will get prompted
// to pick an IdP again.
AuthenticationResult ar = await App.PCA.AcquireTokenAsync(App.Scopes, GetUserByPolicy(App.PCA.Users, App.PolicyEditProfile), UIBehavior.SelectAccount, string.Empty, null,

[2017-11-20 22:05] Schinwinkwinsky opened #36 "GetUserByPolicy always returns null"
Debugging the project, I noticed that the method GetUserByPolicy always returns null when it's called by AcquireTokenSilentAsync or AcquireTokenAsync and the login page doesn't appear. That way, the AuthenticateResult is not set.
On AADB2C/WebAPI it was set AppId URI as "https://{Tenant}/api" and the scope as "read".
On the app, the SignUpSignInPolicy is "B2C_1_susi" and the scope is "https://{Ten

[2017-11-24 16:46] Schinwinkwinsky commented on #36
Sorry, guys! It was just an AADB2C not properly set!

[2017-11-25 15:35] Schinwinkwinsky opened #37 "For XF Android Developers - AquireTokenAsync Unhandled Exception Resolved"
I was facing an error in the Android project with MSAL. The Ios and UWP projects performed correctly. The login page was shown and I was able to get the AADB2C authentication. But when I run Android, the application broke with an Unhandled Excpetion. I did a search and I found the solution. The versions of Nuget Packages!
MSAL needs Xamarin.Android.Support.CustomTabs v23.3. With newer versions, I

[2017-11-25 19:44] Dismissile opened #38 "AccessToken is always null"
In the call to AcquireTokenSilentAsync I am only getting an IdToken and AccessToken is always null.

[2017-11-26 03:09] gsacavdm commented on #38
Dup of #24

[2017-11-26 03:09] #38 closed

[2017-11-29 23:00] Schinwinkwinsky commented on #37
I tried to put the code this way:

` protected override async void OnAppearing()
        {
            UpdateSignInState(false);

            // Check to see if we have a User
            // in the cache already.

            try
            {
                AuthenticationResult ar = await App.PCA.AcquireTokenSilentAsync(App.Scopes, GetUserByPolicy(App.PCA.Users, App.PolicySignUpSignIn), App.Auth

[2017-11-30 03:45] BleyChen opened #39 "Can't install pacakge Microsoft.Identity.Client"
When i use vs2017 to create a xamarin forms project use pcl template , and then use command "Install-Package Microsoft.Identity.Client -Version 1.1.0-preview" to  install package for pcl project ,it show error as following:

Executing nuget actions took 218.01 ms
Found package 'Microsoft.Identity.Client 1.1.0-preview' in 'D:\bley\MOP\MOP-Master\packages'.
Install failed. Rolling back...
Package 'M

[2017-11-30 13:15] Schinwinkwinsky commented on #30
I couldn´t use MSAL with Custom Tabs 26.x. I just got success with Custom Tabs 23.3 that asks for Xamarin Forms 2.4.

[2017-11-30 13:32] Schinwinkwinsky commented on #39
I made a test and I got to install. Try to delete the PCL project and add a new one. If don´t work, try to review the installation options.

![esboco](https://user-images.githubusercontent.com/13337108/33433198-751f41ac-d5b9-11e7-9857-a079744bee40.png)

[2017-11-30 14:31] Schinwinkwinsky commented on #11
@josuuribe what alpha version did you install? I´m trying to use MSAL with CustomTabs 26.1.0.1 and I still get the Unhandled Exception.

[2017-12-04 03:55] jeer65 commented on #22
It's working for me, although I had some trouble in settings on the AuthorityBase because on the example says that users have to add the **Tenant** but it really, you have to set the **TenantID** see below

 public static string AuthorityBase = $"https://login.microsoftonline.com/tfp/{TenantID}/";
where tenant Id was in my case 49ab60be-5713-481d-b294-b8bbc0b29dc6
so I set as below
public static s

[2017-12-04 07:03] RhomGit commented on #11
This is still an issue.
`12-04 14:59:35.800 I/MonoDroid( 7110): UNHANDLED EXCEPTION:`
`12-04 14:59:35.833 I/MonoDroid( 7110): System.MissingMethodException: Method 'Android.Support.CustomTabs.CustomTabsIntent.LaunchUrl' not found.`
`12-04 14:59:35.833 I/MonoDroid( 7110):   at Android.App.Activity.n_OnResume (System.IntPtr jnienv, System.IntPtr native__this) [0x00008] in <e975227ac8644a30bb08661173

[2017-12-05 03:51] NikolaiTsepalov opened #40 "App.PCA.Users Count is 0 after the call to the AcquireTokenAsync on 11.X iOS Simulators"
App.PCA.Users Count remains 0 after the call to the App.PCA.AcquireTokenAsync only on the iOS 11.2 Simulator
Line 50:
AuthenticationResult ar = await
App.PCA.AcquireTokenAsync(App.Scopes, GetUserByPolicy(App.PCA.Users, App.PolicySignUpSignIn), App.UiParent);

As a result,  call to the App.PCA.AcquireTokenSilentAsync at line 116
throws "Null user provided" exception since GetUserByPolicy  returns n

[2017-12-06 07:41] jeer65 opened #41 "Error on a custom screen from Microsoft.Identity.Client using CustomTabs"
**Xamarin.Android Version: 8.0**

**Operating System & Version : Microsoft Windows [Version 10.0.14393]**

**Support Libraries Version : API Level 21 Lollipop**

Describe your Issue:

An application to connect to Azure using AD to B2C authentication, is using the Microsoft.Identity.Client, and the version that is working is Custom Tabs 23.3, but when I tried to install through Nudget Microsoft.Ide

[2017-12-07 00:21] NikolaiTsepalov commented on #41
I have a similar problem on VS MAC
After updating Xamarin.Android.Support.CustomTabs version="23.3.0 to 26.1, clicking on the "Sign In" button causes the
"Method 'Android.Support.CustomTabs.CustomTabsIntent.LaunchUrl' not found." exception.

[2017-12-07 06:04] NikolaiTsepalov commented on #41
Looks like dev branch already has a fix for it
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/490
Please release a new version io the Microsoft.Identity.Client and update this sample app, current 1.1.0.0 preview is 4 months old.

[2017-12-08 15:50] Schinwinkwinsky commented on #41
@jeer65 You need to use Xamarin 2.4.x. The new Xamarin version (2.5) doesn't support CustomTabs 23.

[2017-12-15 07:34] olivierma opened #42 "Email login (no identity provider) dont work in 1.1.0"
I have successfully implemented an email login, without any identity provider with the 1.0.304142221-alpha. I update to 1.1.0_preview and I cannot do it. When I try to log in with my test address (...@msn.com), it's seems to try to log in to the Microsoft identity service. As my password are not the same in Microsoft identity provider and in my own B2C service, it fails to log in.

[2017-12-15 23:06] gsacavdm commented on #42
I'm assuming this is not related to the sample given that it's already using 1.1.0_preview, so there's nothing to upgrade. In general, you need to make sure you are correctly setting the authority.

See [App.cs#L25-L26](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient/App.cs#L25-L26)

    public static string AuthorityBase = $"htt

[2017-12-21 13:13] sellingerd commented on #28
The answer by @matgutschow  worked for me too.  What I would like to know is where the redirect URI comes from?  Can I get it from the project without having to use the debugger to see the overridden redirect URI?  Thanks!

[2017-12-28 05:23] zhurongbo111 opened #43 "Xamarin.Android can not run without chrome"
I  download the sample and change the configuration to myself, it works well in iOS and UWP. But it doesn't work in android. I know that  run this example , Custom Chrome Tabs is required in android device, so it chrome is required too. But it is not receptive that ask my end users to install the chrome before using my app.I want to say that this library very fits our needs, but now I have to disc

[2017-12-29 09:00] muhammetsahin commented on #24
Hi,

I cant work this project. I did everything but i didnt work. Access Token return null.

![image](https://user-images.githubusercontent.com/2045788/34433206-d72dab5e-ec8e-11e7-8acb-46387ac47adb.png)
![image](https://user-images.githubusercontent.com/2045788/34433220-e8349872-ec8e-11e7-8ebb-fc95bc3f8cbc.png)
![image](https://user-images.githubusercontent.com/2045788/34433234-fbe06e96-ec8e-11e7-

[2018-01-05 16:32] Ryan-Palmer opened #44 "Offline access doesn't work for basic login without an API"
Hi there. I am using basically the same implementation in my Xamarin iOS native app as the Forms demo.

I am *not* trying to access a web api.I am just using AD B2C for sign in. I do not, therefore, get an Access Token back, which makes sense. I do get an ID token.

The problem I have is that when offline I would expect calling 'AcquireTokenSilentAsync' would return a success if we have previously

[2018-01-05 18:07] RyanBuzzInteractive commented on #44
Ok, I just created a stub Web Api app and added its user_impersonation scope to my Web Client app and my Xamarin native mobile app.

Now that I am accessing a real api, using a real scope, I get back an Access token, as you would expect. I also get an Expiry in the AuthenticationResult.

This has made the offline login work properly.

I won't mark the issue as resolved though, as it seems the need

[2018-01-09 14:42] #30 closed

[2018-01-12 18:45] bakebak commented on #11
Hey guis,
the Microsoft.Identity.Client 1.1.1-preview0040 was updated day 05/01/2018
See: https://www.nuget.org/packages/Microsoft.Identity.Client/1.1.1-preview0040
Now works with all libraries in version 25+

[2018-01-12 18:51] bakebak commented on #32
Hey guys,
the Microsoft.Identity.Client 1.1.1-preview0040 was updated day 05/01/2018
See: https://www.nuget.org/packages/Microsoft.Identity.Client/1.1.1-preview0040
Now works with all libraries in version 25+

[2018-01-16 15:15] jhvanderven commented on #22
I switched back to PCL (instead of dot net standard), downgraded Xamarin Forms to 2.3.4.224 and then it finally started to work on Android. @jeer65 I am using Tenant and not the ID. My packages.config is not attached (because .config is not supported). So I'll paste the contents:
[code]
@pedramp20 This is my manifest:
[code]
Thanks for all your help.

[2018-01-24 17:00] jcampana commented on #22
Hi everybody, I need your help. I Implement a PCL project with versions of iOS and Android.
iOS works fine, but Android version, the app open the login with Microsoft, but when redirect, i have the next error:

**Java.Lang.RuntimeException**
Unable to instantiate activity ComponentInfo{com.myapp/com.microsoft.identity.client.BrowserTabActivity}: java.lang.ClassNotFoundException: Didn't find class

[2018-02-10 05:13] markti opened #46 "active-directory-b2c-xamarin-native is broken"
The sample works but when I try to re-create it is impossible to re-create even with portable class library.

[2018-03-21 23:58] kcorrea96 opened #47 "Android project won't redirect back to app"
I'm a bit new to Azure & Xamarin.Forms and am trying to build a simple login application. I've gone through this tutorial multiple times and can't help but feel like I'm missing something. My application successfully brings me to the login page & allows me to enter my credentials, but when I click login it brings me to a blank screen (as seen below).

<img width="401" alt="screen shot 2018-03-21 a

[2018-03-28 23:24] raasmasood commented on #40
did you figured it out ?

[2018-03-30 18:58] narindermakin commented on #40
Any solution to this?

[2018-03-30 19:02] narindermakin commented on #7
It seems that App.PCA.Users count remains 0 after the call to the App.PCA.AcquireTokenAsync. It is not getting stored  after successful token response.

[2018-03-31 05:13] raasmasood commented on #40
any solution nariidermakin?

[2018-03-31 06:11] raasmasood commented on #40
just verified that it works with actual iphone device but not working with simulator

[2018-04-01 02:11] narindermakin commented on #40
that's correct. It seems a permission on storage. Next option is to start debugging the code and modify it, but not worth for simulator. This whole xamarin/MS open source without quality code and coverage is not usual microsoft like. I am still getting used to such choppy stuff from MS.
    On Saturday, March 31, 2018, 2:11:30 AM EDT, raasmasood <notifications@github.com> wrote:

just verified tha

[2018-04-01 05:30] danieldobalian commented on #43
Yes, the plan is for MSAL to support more browsers than Chrome (and Chrome Custom tabs) before GA.

[2018-04-04 13:11] isangines commented on #21
@7sharp9  I'm having the same issue, did you find any work around? Thanks!

[2018-04-04 14:52] isangines commented on #40
Same issue here with iOS 11.3 simulator.

[2018-04-10 16:51] jmprieur commented on #21
@jennyf19 do we have an idea of what could happen?

[2018-04-10 18:10] jennyf19 commented on #21
@jmprieur - not sure, I will try to repro this today...I know from another [issue](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/997) doing this:
**KeyChain Groups should be enabled at Entitlements.plist**
solved the problem of an empty cache after authentication with Xamarin iOS. Not sure if it is related to this iOS simulator issue.

[2018-04-11 01:00] jmprieur commented on #39
Did you check the "preview" checkbox in the NuGet package manager?
MSAL is still in preview, and therefore does not appear in the list otherwise

[2018-04-11 01:00] #39 closed

[2018-04-11 01:01] #43 closed

[2018-04-11 01:02] jmprieur commented on #43
@parakhj : this is expected (even if not desirable). we might want to have a note in the Readme to explain that Android phone without chrome custom tabs won't be able to run the app leveraging MSAL.
We are currently working on adding embedded web browsers in MSAL, BTW to solve this issue.

[2018-04-11 02:30] jmprieur commented on #40
you might want to try this: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Token-cache-serialization#on-ios-you-need-to-enable-keychain-groups

[2018-04-11 03:50] jennyf19 commented on #46
@markti What exactly are you having issues with when re-creating the sample? Are you following the directions from the ReadMe? If so, I can try to do the same and see if our issues match up.

[2018-04-16 16:29] jennyf19 commented on #22
@jcampana - Which version of [MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/releases) are you using?

[2018-04-17 15:24] jcampana commented on #22
@jennyf19 I am using the version 1.1.1-preview0040, and runs OK.

[2018-04-17 20:40] jennyf19 commented on #22
@jcampana - So are you having issues w/Android on MSAL?

[2018-04-17 20:54] jennyf19 commented on #22
@jhvanderven - Are you still having issues with this sample?

[2018-04-19 15:33] himadrinath commented on #22
@jhvanderven  i am running Android 8.0 api 26 getting this

![screenshot_20180419-200547](https://user-images.githubusercontent.com/12247490/39001898-f4e6645a-4414-11e8-98dd-3578295a4fdd.png)

but in my UWP application working Fine

[2018-04-28 00:29] jennyf19 commented on #21
Using the sample and iPhone SE 11.3 simulator, I was able to:

Based on this analysis, the cache with simulator appears to be working as expected. According to iOS team, simulator does not use keychain sharing group, but a device will use keychain.

@7sharp9 Can you please give more details into what you are experiencing with the sign-in flow on the simulator? Thank you.

cc: @jmprieur

[2018-05-01 16:55] jennyf19 commented on #47
@kcorrea96 were you able to get the sample running as-in, without changing any of the properties?

[2018-05-01 16:56] jennyf19 commented on #46
@markti Which error messages are you getting when recreating the sample?

[2018-05-01 16:59] jennyf19 commented on #41
@NikolaiTsepalov @jeer65 Closing this, as this issue has been fixed with later versions of MSAL. If you still run into problems, please open an issue in the [MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues). Thanks

[2018-05-01 16:59] #41 closed

[2018-05-01 17:05] jennyf19 commented on #21
@jmprieur @7sharp9
Based on my testing yesterday, you only need to have an empty entitlement file (I think @wislon mentioned this above)...something like this:
[code]

[2018-05-04 13:05] Surfrat commented on #44
I am facing the same issue. Anyone found a workaround that does not require the creation of Web API?

[2018-05-08 07:08] Surfrat commented on #44
@RyanBuzzInteractive Could I please email you a few questions as I am struggling with this last step. I have everything working across all three platforms except the offline storage. My email is surfrat77[[[[at]]]]gmail[[[dot]]]com.

Thanks.

[2018-06-11 09:18] WilliamWatterson86 opened #54 "Errors when authenticating"
I have a Xamarin Forms app using the package and in general it works really well.  I am able to login and get a token that I am able to use for access to my web api etc.

Before each call to the API I am doing the following to authenticate silently.

`AuthenticationResult ar = await App.AuthenticationClient.AcquireTokenSilentAsync(ApplicationSettings.Scopes, Authentication.GetUserByPolicy(App.Auth

[2018-06-16 23:12] NikolaiTsepalov commented on #40
Fixed
Tested at Commit a2024a87

[2018-06-16 23:19] NikolaiTsepalov commented on #40
Fixed
Tested at Commit a2024a8

[2018-06-27 10:57] crgarcia12 commented on #11
I still have the problem with the latest one: 1.4.1

[2018-06-28 12:35] davidmn commented on #11
I have the same issue @crgarcia12

[2018-06-28 17:41] jlucaspains commented on #11
@davidmn How did you downgrade CustomTabs? Did you downgrade all Support.* packages along?

[2018-06-28 17:51] daspuru commented on #11
Use Microsoft.Identity.Client version 1.1.3-alpha0007 with Android support libraries V 27.0.2 and it should work. That version can be found in this Nuget feed: https://www.myget.org/F/aad-clients-nightly/api/v3/index.json

[2018-06-29 16:26] jennyf19 opened #55 "Add Entitlements.plist to Xamarin iOS to enable keychain access"
Keychain access needs to be enabled in the `Entitlements.plist`

[2018-07-02 20:45] andrewchungxam opened #56 "Issue logging in with Twitter"
Hello.

Ran the project without modification to Visual Studio 2017 for Mac on iOS simulator: iPhone X iOS 11.4.

All the logins worked with the exception of the Twitter login.
(This is after pressing the Twitter login button -- but with no opportunity to type in a username/pass)

It created an error message that displayed as:
Sorry, but we're having trouble signing you in.
We track these error aut

[2018-07-02 20:58] andrewchungxam commented on #56
![image](https://user-images.githubusercontent.com/3628580/42186053-fe5c2bf8-7dff-11e8-85c7-c3e3fcd0800f.png)

[2018-07-02 21:00] parakhj commented on #56
What's your reply URL that you set in Twitter?

[2018-07-04 13:53] #55 closed

[2018-07-05 22:06] jennyf19 commented on #56
@parakhj - I get the same error message with Twitter login with the sample. Is it configured to work with Twitter login? Thanks!

[2018-07-06 03:12] jennyf19 commented on #22
@himadrinath - just saw this....is Chrome installed on the device? chrome or chrome custom tabs is required for MSAL to launch the UI.

[2018-07-06 05:20] jennyf19 commented on #21
@7sharp9 @Jeremywhiteley @isangines @wislon @daspuru
This has been addressed and the [readme updated](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/README.md#ios-specific-considerations). Simulator does not use keychain sharing group, but a device will.

Going to close this issue, but feel free to reopen or respond if the issue continues.

cc: @bgavrilMS @jmprieu

[2018-07-06 05:20] #21 closed

[2018-07-11 13:52] balaameex commented on #40
I have downloaded the latest code and tested with iPhone 8 simulator, still the App.PCA.Users count = 0 after the call,
Logged in with Google account.
Call API throws error
Tested with Visual studio on Mac,

{Microsoft.Identity.Client.MsalUiRequiredException: Null user was passed in AcquiretokenSilent API. Pass in a user object or call acquireToken authenticate.
  at Microsoft.Identity.Client.Inte

[2018-07-11 19:59] NikolaiTsepalov commented on #40
I closed it by mistake, I thought it was fixed but later I realized it's not.
I think, there is a recent but similar to this.

[2018-07-11 22:39] andrewchungxam commented on #56
Hi @parakhj thanks for your reply. (I didn't set any reply - I simply ran the sample in simulator.)

[2018-07-12 02:41] andrewchungxam commented on #56
I saw this and I wonder if this is the issue:
https://codemilltech.com/quick-fix-your-azure-ad-b2c-twitter-settings/

[2018-07-12 03:50] jennyf19 commented on #47
@Livven @kcorrea96 Right now, MSAL has to have Chrome or Chrome custom tabs installed on the device in order to show the UI. We have [embedded webview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/Webviews) support coming, and you can try it out [here](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/tree/dev/msal) and give us feedback and suggestions

[2018-07-17 14:53] jmprieur commented on #40
Adding @jennyf19. I think the replied a similar question a few weeks ago for a non b2c sample.

[2018-07-18 18:19] irjudson commented on #10
I am now having this problem, and have confirmed both info.plist and app.cs have the expected values.

[2018-07-25 13:04] james1301 opened #60 "Xamarin Forms UWP App Fails to re-login after initial Login"
I am trying to use the sample app, but the UWP version, after originally signing in, now fails whenever I try to sign in again with the error at the bottom.

The iOS app does not encounter this issue, not tried Android. I am running on the latest Windows (1803). In an attempt to remedy I have tried to update all nugets, make UWP target version 1803. Then have even tried upgrading all nuget compone

[2018-09-07 19:26] alexkatz opened #61 "AcquireTokenAsync throws a NullReferenceException on iOS, on both simulator and device."
Regardless of what I seem to do, I get a NullReferenceException when calling PublicClientApplication's AcquireTokenAsync. I can reproduce this in the sample code without changing a single line of it, as well as in my own project's code. I've got things working properly on the Android side.

Has anyone else come across this?

As far as I know, my Entitlements.plist is set up correctly.

Here's the

[2018-09-08 14:55] alexkatz commented on #61
Fixed. Apparently all AcquireTokenAsync overloads that don't take a UIParent argument cause this exception to be thrown in iOS.

[2018-09-08 14:55] #61 closed

[2018-09-15 04:48] ajaykeshri commented on #28
Hi @matgutschow  I changed RedirectUri and add that to your B2C application 'Custom Redirect URI' along with the msal<applicationID>://auth from the directions and save it it should work.
But Still getting same issue. is it required to give internet UWP permission like android ??

[2018-09-16 18:59] jennyf19 commented on #56
Closing...this has been addressed.

[2018-09-16 18:59] #56 closed

[2018-09-16 19:00] jennyf19 commented on #36
Thanks for the update @Schinwinkwinsky

[2018-09-16 19:00] #36 closed

[2018-09-16 19:05] jennyf19 commented on #11
@daspuru @jlucaspains  @davidmn @crgarcia12 @bakebak @RhomGit

Closing this, as we now have the option for [embedded webview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#by-default-msalnet-supports-a-system-web-browser-on-xamarinios-and-xamarinandroid) in MSAL (which does not require custom tabs)...please check out the [MSALv2.0.1-preview r

[2018-09-16 19:05] #11 closed

[2018-09-16 19:07] jennyf19 commented on #47
Any update on this @Livven @kcorrea96 ?

We now have the option for [embedded webview](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-uses-web-browser#by-default-msalnet-supports-a-system-web-browser-on-xamarinios-and-xamarinandroid) in MSAL (which does not require custom tabs)...please check out the [MSALv2.0.1-preview release](https://github.com/AzureAD/azur

[2018-09-17 09:03] Livven commented on #47
@jennyf19 Thanks for the follow-up! Think it should solve https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/589 as well too. I'll let you know if it works out.

[2018-10-05 07:57] usolanki commented on #4
Hi gsacavdm,

I am still having issue as i am getting generic error message for facebook login on my azure b2c.:

https://portal.endorsehub.com/#/error=server_error&error_description=AADB2C%3a+An+exception+has+occurred.%0d%0aCorrelation+ID%3a+dc323245-16c3-4f6c-98a8-5c072eb6d5fe%0d%0aTimestamp%3a+2018-10-05+07%3a53%3a49Z%0d%0a

[2018-10-07 09:36] yoelhor commented on #4
OAuth2 makes 3 requests to following endpoints:
1) **authorization** - where user sign-in to Facebook, then Facebook returns the authorizations code. Looks like this part completed successfully
2) **token**, Azure AD B2C reads and exchange the authorization toke to access code - this step failed in your case
3) **User info** endpoint

In the second step, Facebook returns 400 HTTP bad request error

[2018-10-16 20:03] jotprabh1 opened #62 "Object Reference not set to an instance of an object Exception on iOS emulator"
I got the above exception on iOS with your sample. The problem that I figured out was that App.UiParent was not set. I solved it by adding App.UiParent = new UIParent() in the AppDelegate.cs after LoadApplication(). Please add the same to the sample.

[2018-10-21 17:49] alessandro-avila commented on #28
Hi @ajaykeshri, have you tried to enable **Private Netowkr (Client & Server)** UWP Capability? Had the same issue, I resolved in this way.

[2018-10-28 05:38] RocketPop opened #64 "Sample does not run on iOS - Android throws intermittent exceptions"
Build env: Visual studio 2017 15.8.3

Running this sample "out of the box" on Android (simulator and device) Android API 23-27 often gives an error with invalid Oauth2 reponse that it cannot parse. This happens with both my AD / tenant and the sample connection info "as is".

Running this sample "out of the box" on iOS (simulator and device) iOS 11-11.4 gives an error regarding type lookups and ne

[2018-10-29 01:45] RocketPop commented on #64
Ok after looking a bit more, it appears that the instructions here: [to use b2clogin.com ](https://docs.microsoft.com/en-us/azure/active-directory-b2c/b2clogin#update-your-application) don't work (leading to those parse errors), when I made my b2c flows the settings were pointing to b2clogin.com... These worked if I made a big manual HTTP request as shown here: [manual link](https://docs.microsoft

[2018-10-29 19:01] RocketPop commented on #64
Even more experimentation. I deleted the entire directory and b2c clients and recreated the entire setup - being sure to only use the login.microsoftonline.com access. Now the sample does work on both platforms (the type load exception does not occur anymore either - perhaps I mixed some V2 preview flows?). However now I see that B2C profile editing for local accounts [does not work](https://stack

[2018-10-29 19:01] #64 closed

[2018-11-06 00:28] upskydownshoes opened #65 "ApiEndpoint confusion/ check"
Hi, just a quickie: what do I use as the ApiEndpoint, in your case:

I have followed all your steps: I have the B2C Tenant in the Azure Directory that holds my subscription (lets call it ADD1), I have the Applications and policies in a second directory (lets call it ADD2),.

in ADD1 I have added an App Service with the URL https://add1appservice.azurewebsites.net.

I have added this https://add1ap

[2018-11-18 06:47] raasmasood commented on #47
just pass true in UIParent that tells android to use embedded browser.

`  App.UiParent = new UIParent(this, true);`

[2018-12-01 01:20] #40 closed

[2018-12-14 14:37] DominicBurford opened #67 "Issues logging in with iOS"
We have implemented our login to use Azure AD B2C as per this example. It works perfectly fine with Android but we're having some weird issues with iOS.

When the user first launches the app, they are presented with the Azure AD B2C login form. They enter their credentials but are immediately redirected back to the login page again with the email address / passwords fields empty. After a few secon

[2018-12-20 03:24] tthiatma opened #70 "Unable to use my own tenant"
Hello,

When running the project with default setting. Everything works fine.

So I tried to create my own tenant and I got below error
![image](https://user-images.githubusercontent.com/4022533/50261880-bc113700-03cb-11e9-863d-9b96c2c5e5c8.png)

Is there any detail steps on how to create tenant with screenshots for optional step 2 - 6 ?
I will create pull request to the documentation if someone c

[2018-12-20 16:58] jennyf19 commented on #70
@tthiatma Are you replacing the tenant, policies, client_id, scopes, authority (`{tenant}.b2clogin.com` instead of login.microsoftonline.com in the same) with the values in the sample and then getting the above error message? Do you have the redirectUri registered with your app as well in the portal?

[2018-12-20 17:05] jennyf19 commented on #62
@jotprabh1 The sample should be working out of the box now. Thank you. Closing this issue.

[2018-12-20 17:05] #62 closed

[2018-12-20 17:09] jennyf19 commented on #60
@james1301 Sorry to have missed this issue. The problem you encountered is from the cache not clearing. so if, for example, you logged in to your UWP app with the FB account, then closed the app, and relaunched and tried to log in with a Google account, you would ge the user mismatch error. This was resolved in [MSALv.2.01-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotne

[2018-12-20 17:09] #60 closed

[2018-12-20 17:10] jennyf19 commented on #47
@kcorrea96 @Livven @raasmasood Closing as the issue is resolved.Thank you

[2018-12-20 17:10] #47 closed

[2018-12-20 17:11] jennyf19 commented on #46
@markti Closing...as we haven't heard from you. Please reopen if you find issues and tag me. :)

[2018-12-20 17:11] #46 closed

[2018-12-20 17:14] jennyf19 commented on #35
@BtrJay @dgonzalezp This was fixed in [MSAL 2.5.0-preview](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/releases/tag/MSAL-v2.5.0). We added `UIBehavior.NoPrompt` so now, when doing edit profile policy, you can elect to not show a UI to the user. B2C server will determine if it's necessary to show a prompt or not. The user experience is much better, as they now go directly to

[2018-12-20 17:14] #35 closed

[2018-12-20 20:38] jennyf19 commented on #22
@himadrinath did you ever get this figured out?
Closing the issue, but feel free to reopen if necessary.

[2018-12-20 20:38] #22 closed

[2018-12-20 20:53] tthiatma commented on #70
@jennyf19  this is embarrassing, but I made a typo on my tenant url....
I am using login.microsoftonline.com and I got it to work with google sign in

[2018-12-20 21:20] jennyf19 commented on #70
@tthiatma Awesome! Can we close this issue? Thanks for the update.

[2018-12-20 21:43] tthiatma commented on #70
I will give b2clogin.com a try. thank you for the info

[2018-12-20 21:43] #70 closed

[2018-12-21 07:48] brendanrempel opened #71 "Native B2C not working"
Is something up with native B2C?  I've been fighting it for a good two weeks blaming myself but it doesn't seem to be me.  This sample as well as several others all fail by returning null username and access token, but only for native.  I have an aspx that works perfectly.  I've tried a bunch of samples, Xamarin, UWP, WPF, and they all fail the same way.  I've also used my own configuration as wel

[2018-12-21 08:37] DominicBurford commented on #67
Hi Jenny thanks for the response. After some investigation, the problem seems to be related to the Entitlements.plist file, as i have seen several similar posts on Stackoverflow where this this was the problem. I have updated this in exact accordance with the steps listed here on this example but no joy.

We are using B2C local accounts only. The issue is with iOS only, Android is absolutely fine

[2018-12-21 17:58] jennyf19 commented on #67
@DominicBurford I was unable to repro the error using this sample and moving from 2.1 to 2.6.2.

Do you get the error with iOS and Android or just with iOS?
What authority are you passing in?
Can you send [logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging#sample-for-logging-in-msal-2x) using 2.6.2?

Let's work off of 2.6.2 and get things resolved for you the

[2019-01-02 20:16] jennyf19 commented on #67
@DominicBurford any update on this?

[2019-01-07 10:16] DominicBurford commented on #67
Sorry been on annual leave.

When I have upgraded MSAL to use 2.6.2 I get the exception

System.MissingMethodException: string[] string.Split(char,System.StringSplitOptions) at Microsoft.Identity.Client.Instance.Authority.CreateAuthority

This is for both Android and iOS. The exception seems to suggest that MSAL is attempting to invoke a method that it can no longer find (deleted / renamed). We ar

[2019-01-07 17:16] jennyf19 commented on #67
@DominicBurford Thanks for the additional information. You will need to update to the latest Visual Studio version, for both VS for Mac and VS for Windows. There are many missing methods  (String.TrimStart, TrimEnd and Split). It is a Xamarin bug, but updating to latest VS has solved the issue for other customers. Can you try that and let me know if that fixes the issue for you?

[2019-01-08 08:08] DominicBurford commented on #67
The latest version of Visual Studio is 2017 15.9.4 so I will upgrade to that today and re-test and let you know how I get on.

[2019-01-08 17:36] jennyf19 commented on #67
@DominicBurford Great! Thanks for the quick update. Glad to hear it is working. If you run into any more issues, please reach out, either via email (jeferrie@microsoft.com) or open an issue directly in [MSAL](https://github.com/azuread/microsoft-authentication-library-for-dotnet/issues)

Closing the issue.

[2019-01-08 17:36] #67 closed

[2019-01-09 14:46] ClintFrancis commented on #65
In your app service instance, did you modify the params in the `index.js` file before uploading it?

[code]

[2019-01-10 11:42] kanaReact commented on #10
I have the same error and solved using the following steps from the below link..
https://github.com/google/GTMAppAuth

[2019-01-22 23:37] markti opened #73 "AuthenticationFailed: IDX10214: Audience validation failed. Audiences:"
I am trying to setup a xamarin app to talk to my WebAPI secured with AAD B2C authentication.

[2019-01-23 00:54] markti commented on #73
https://nicolgit.github.io/cross-micro-services-authentication-Azure-B2C/

this fixed it. needed to add TokenValidationParameters to allow the application ID of my xamarin app. This is missing from your documentation!

![image](https://user-images.githubusercontent.com/3155241/51575250-72f74b80-1e7f-11e9-8d80-36bc17db1fb4.png)

[2019-01-25 14:50] DominicBurford opened #74 "Workflow on iOS not working correctly"
We have implemented our login to use Azure AD B2C as per this example. It works perfectly fine with Android but we're having some weird issues with iOS (I raised a different but related issue just before Xmas).

Here is the flow on the iOS version of the app.

1. User launches the app and is presented with the Azure AD B2C login screen (correct)
2. User enters their credentials (correct)
3. The ap

[2019-02-01 13:54] yschkatula commented on #28
@alessandro-avila, bingo! Experienced the same issue on "msgraph-training-uwp" sample, got it resolved with "Private Network" capability manually switched on (it seems, Microsoft has quite relaxed security model in their intranet area so they can run such samples with no error)

[2019-02-11 20:31] jennyf19 commented on #74
@DominicBurford I finally had time to take a look at this today. I was unable to run the code you sent locally (missing some nuget packages), but it was helpful to look at. I think the issue is with using the `OnAppearing()` method. Every time the app appears, it's going to check the cache and attempt a silent call. You might notice in the sample, we've removed the `OnAppearing()` method logic, as

[2019-02-11 20:55] jennyf19 commented on #73
@parakhj @jmprieur fyi on @markti 's comment about updating docs.

[2019-02-11 20:56] jennyf19 commented on #65
@upskydownshoes did you get this figured out?

[2019-02-11 20:57] jennyf19 commented on #54
@WilliamWatterson86 Closing, as we have updated the sample to msal 2.7, and I believe the issues you are running into with the cache have been addressed. If you're still having issues, please reopen. Thank you!

[2019-02-11 20:57] #54 closed

[2019-02-11 20:58] jennyf19 commented on #42
@olivierma Closing, as this is relating to an outdated version of MSAL, we are now on 2.7. If you are still having issues, please re-open. Thank you!

[2019-02-11 20:58] #42 closed

[2019-02-11 21:00] jennyf19 commented on #37
@Schinwinkwinsky closing, as this has been resolved with later versions of MSAL v2+. If you're still having issues, please reopen. Thank you!

[2019-02-11 21:00] #37 closed

[2019-02-11 21:10] jennyf19 commented on #28
@JPhilC @josuuribe @matgutschow @nalthoff @sellingerd @yschkatula @alessandro-avila @ajaykeshri

For UWP, you need to set the following in the Package.appxmanifest of the UWP app, in the Capabilities tab:
-Enterprise Authentication
-Private Networks (Client & Server)
-Shared User Cert IWA not enabled by default because apps requesting the Enterprise Auth or Shared User Cert capabilities require a

[2019-02-11 21:11] jennyf19 commented on #23
@allussa @Ripper555 @Arsophia @jdhuntington
Closing as seems to be resolved. Please reopen if necessary. Thank you!

[2019-02-11 21:11] #23 closed

[2019-02-11 21:13] jennyf19 commented on #19
@riturajpandey @tausif127 closing, as this is pretaining to an old version of MSAL and the issues addressed here have been resolved in v2+. Please reopen if necessary. Thank you!

[2019-02-11 21:13] #19 closed

[2019-02-11 21:14] jennyf19 commented on #16
@TomWalkerCodes @Jeremywhiteley Closing, as pretaining to an old version of MSAL. We have new cache mechanisms in v2+. If issue persists, please re-open. thank you!

[2019-02-11 21:14] #16 closed

[2019-02-11 21:15] jennyf19 commented on #15
@TomWalkerCodes @pedramp20 Closing, as pertains to an old version of MSAL. MSAL v2+ may or may not reproduce the issue, as we have changed the webview implementation (ex. you can now use embedded webview). Please reopen if necessary. Thank you!

[2019-02-11 21:15] #15 closed

[2019-02-12 09:15] DominicBurford commented on #74
Looking at the current code in the repo, there is indeed no code in the `OnAppearing`(). I can't see any calls to `AcquireTokenSilentAsync`() so how does the app silently acquire a token if they have previously logged-in?

Once the user has logged into the app, they should be automatically logged-in on subsequent launches of the app. Is this still possible if we move code out of `OnAppearing`?

[2019-02-12 09:31] jmprieur commented on #73
@markti where is the code for the Web API?
This cannot be right that the Web API accepts a token which is for your Web App. It shoud only accept a token for itself, but your mobile app needs to request a scope for the Web API.

cc: @parakhj  @jennyf19

[2019-02-12 16:37] jennyf19 commented on #74
@DominicBurford The [silent call](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/MainPage.xaml.cs#L94) is happening in `OnCallApi()`. You could move the OnAppearing() logic to the initialization logic, after InitializeComponent(). Then you could check to see if you have a token in the cache and do the silent flow there, and

[2019-02-12 17:11] DominicBurford commented on #74
@jennyf19 So it is, I didn't spot that. I'll have a look at refactoring the code so as to move the silent call out of the `OnAppearing `method. Thanks for the update on this.

[2019-02-12 18:13] jennyf19 commented on #74
@DominicBurford awesome...let me know how it goes and if this fixes your initial issue.

[2019-02-13 16:23] DominicBurford commented on #74
After the sugesiton by @jennyf19  I have refactored our code as follows.

- The app attempts to acquire a token silently in the app `OnStart`() in App.xaml.cs
- If successful the user is navigated to the **_Login_** page (but only to immediately pass-through to the **_MainPage_**)
- If unsuccessful the user is navigated to the **_Login_** page where they need to enter their credentials. If success

[2019-02-13 16:42] jennyf19 commented on #74
@DominicBurford Thanks for the details. I will update the sample to reflect a similar change. Glad it's working! 😸

[2019-02-20 02:02] jennyf19 commented on #74
@DominicBurford closing as resolved.

[2019-02-20 02:02] #74 closed

[2019-03-04 15:16] markti opened #79 "AuthenticationContinuationHelper does not exist in the current context CS0103"
Using v2.6.1 of the nuget package. Running on Mac OS X using VS2017 I am trying to debug using an iPhone emulator XR iOS 12.1.

[2019-03-07 23:30] jennyf19 commented on #79
@markti Can you try with latest version (2.7.1)? or if you want to try our new api, move to [v3](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/MSAL.NET-3-released). And, if you have time, please give feedback on the new [api here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/933). Thank you.

[2019-03-15 14:04] cmw9706 commented on #79
I am having the same issue and I am using preview 3.0.0? I am building for android and trying to override my OnActivityResult

Any word on why this is happening?

[2019-03-15 20:46] jennyf19 commented on #79
@cmw9706 @markti
MSAL v3.x references MonoAndroid 9 as a target framework. You will need to change the target framework in the Android.csproj file from 8.1 to 9.0
`<TargetFrameworkVersion>v9.0</TargetFrameworkVersion>`
Then, you should be able to reference `AuthenticationContinuationHelper`.
See this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/941) for mor

[2019-03-15 20:49] cmw9706 commented on #79
Changed to MonoAndroid 9 and it works :)

[2019-03-15 20:55] jennyf19 commented on #79
@cmw9706 thanks for the quick update. we haven't decided if we should move the target framework back to 8.1 or stay at 9. if you want to give feedback, please do so in the issue I linked above.

[2019-03-28 20:47] jennyf19 commented on #79
@markti @cmw9706  I think we're sticking w/MonoAndroid 9. going to close this issue.

[2019-03-28 20:47] #79 closed

[2019-03-28 20:48] jennyf19 commented on #73
@markti any update on this?

[2019-03-28 20:48] jennyf19 commented on #65
@upskydownshoes going to close, but please reopen if the issue persists. thanks.

[2019-03-28 20:48] #65 closed

[2019-03-28 20:50] jennyf19 commented on #28
@JPhilC @josuuribe @matgutschow @nalthoff @alessandro-avila  @yschkatula @ajaykeshri Going to close, but please reopen if needed. Thanks.

[2019-03-28 20:50] #28 closed

[2019-03-28 20:51] jennyf19 commented on #10
@DominicBurford which documentation are you refering to above? I'll make sure it gets updated. Thanks.

[2019-03-29 08:35] DominicBurford commented on #10
@jennyf19  Step 6a here https://github.com/Azure-Samples/active-directory-b2c-xamarin-native gives example code as follows:

[code]
It should look like this.

[code]
The first version may work with some versions of iOS but failed to work with our app. The second version is more explicit and should therefore work on every version of iOS.

[2019-03-29 16:03] jennyf19 commented on #10
@DominicBurford Awesome! Thanks so much. I'll make sure to update the documentation.

[2019-03-29 16:03] #10 closed

[2019-04-07 21:54] markti opened #81 "iOS Device username field showing "Missing from the token response""
I followed the instructions to add the Entitlements.plist as the custom entitlements and got it working but when I did that I started getting a soft error message when navigating to the AzureAD login, the username field was pre-filled with "Missing from the token response". If I remove that text and replace it with a valid username and password the login screen works fine. I'm not sure why this is

[2019-04-08 21:24] jennyf19 commented on #81
@markti this is a known issue w/B2C. The reason is because B2C does not return a value in the IdToken for preferred username because of the limitations with the social accounts. For example, AAD does return a value here because it knows who the user is, but for b2c, because the user can sign in with a local account, FB, Github, etc...there is not a consistent value for them to use for preferred us

[2019-04-08 21:24] #81 closed

[2019-04-09 16:49] markti commented on #81
@jennyf19 if this is a known issue could this and other known issues with B2C be added to the documentation? Better yet, could there be a separate B2C example for Xamarin Forms that makes everything work for B2C only? :)

[2019-04-09 18:32] jennyf19 commented on #81
@markti Where would you like to see this documented? I'll add it to the MSAL wiki for sure. We are in the process of moving the .NET wiki to docs.ms, so that will help with discoverability. Is there another place you think we should include it?
You should be able to use the email claim as the username. If it doesn't work, let me know and I'll follow up with B2C. Thanks.

[2019-04-10 00:10] jennyf19 commented on #81
@markti Done. Feel free to add more [info](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#preferred_username-missing-from-the-token-response) if you want, especially to the mitigation section. thank you!

[2019-05-02 21:51] markti opened #84 "application does not have keychain access groups enabled in the entitlements.plist"
I am so frustrated. This thing is so brittle it is driving me insane.

Forget about getting this to work in my actual Xamarin app. I'm just trying to get this to work in the code I cloned from this repo! Can't do that consistently.

I am trying to run in the simulator. The login browser screen comes up (amazingly) I login (apparently successfully). Then I get hit with an exception "Microsoft.Ident

[2019-05-03 21:48] jennyf19 commented on #84
@markti - glad you didn't give up on us before your huge PR :)
Adding the .WithIosKeychainSecurityGroup() resolved the issue, correct? if so, looks like the error message needs to be more actionable.

[2019-05-03 21:48] jennyf19 commented on #73
@markti - update?

[2019-05-03 21:49] jennyf19 commented on #7
@narindermakin - Can you try w/the latest version of MSAL -> 3.0.8. ? thank you.

[2019-05-04 00:10] markti opened #86 "No Demo Showcasing Proper use of Azure AD B2C Using Shell"
Ideally the demo would help developers get off the ground and running using AzureAD B2C as an authentication mechanism giving them the basic features:

1. Sign In / Sign Up Flows Integrated with Shell
2. User Context Displayed Using Shell (when logged in)
3. User Profile Page (to view user profile values when logged in)
4. Home Page to display customized welcome or prompt user to sign up / login

[2019-05-04 00:22] narindermakin commented on #7
Well, we gave up on msal and Azure AD B2C after spending a good amount of time to solve issues.
    On Friday, May 3, 2019, 2:49:49 PM PDT, jennyf19 <notifications@github.com> wrote:

@narindermakin - Can you try w/the latest version of MSAL -> 3.0.8. ? thank you.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub, or mute the thread.

[2019-05-07 03:40] jaluka opened #88 "Sample with Azure Mobile App Service"
Hi is there sample with access to a back end database via Azure Mobile App Service and MobileServiceUser object.

Thanks

[2019-05-14 10:16] Dali2579 opened #89 "SignIn with an account and reset the password of another acount"
I don't know if this is a valid scenario.
I used this sample active-directory-b2c-xamarin-native.
I created my tenant in AZURE B2C.
I have already two user account on it account1  and account2
I signed in with the account1 to the application.
The application displayed account1's name correctly.
I clicked on reset password.
I entered account2's email.
I got the verification code and I updated accou

[2019-05-16 03:44] markti commented on #73
I dunno man. It works like this. Maybe my scopes are borked?

[2019-05-16 03:58] markti commented on #73
![image](https://user-images.githubusercontent.com/3155241/57825238-feb52080-776b-11e9-898e-8ddb2328d69b.png)

here are my 3 app registrations in Azure AD B2C...

![image](https://user-images.githubusercontent.com/3155241/57825265-15f40e00-776c-11e9-8c80-9673debbd5b6.png)

Mobile app has access to the WebAPI using the permitted scopes defined here...

![image](https://user-images.githubusercontent

[2019-05-17 19:54] jennyf19 commented on #89
@Dali2579 What idp are you using? B2C local accounts, FB, Twitter, etc..? are the users connected at all? Example, is it the same user w/two accounts?

Are you using the sample as-is? If so, I will try out what you explained above. Thanks.

[2019-05-17 20:35] Dali2579 commented on #89
I'm using IDP local and using the example as it is.

[2019-05-17 23:02] jennyf19 commented on #89
@Dali2579 thanks...i'll take a look

[2019-05-17 23:54] jennyf19 commented on #89
@Dali2579 Which IdP are you using?

[2019-05-18 15:52] Dali2579 commented on #89
@jennyf19 I'm only using B2C local account.

[2019-06-03 23:00] jennyf19 commented on #84
closing as resolved

[2019-06-03 23:00] #84 closed

[2019-06-03 23:01] jennyf19 commented on #73
Sorry @markti ...missed this...did you get this figured out?

[2019-06-09 13:21] norton287 commented on #7
This still does not work still with trying it with MSAL 4 release.  Works fine on my iPad mini but the simulator crashes.

[2019-06-11 18:30] JamesHHoustonII opened #91 "Office 365 login screen coming up not Azure"
In the example it shows the Azure B2C login screen I am getting the Office 365 login not sure why and the example states to use tenantId. Where am I supposed to put the tenantId? Thanks

[2019-06-14 17:20] jennyf19 commented on #91
@JamesHHoustonII The tenant will go [here](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/Features/LogOn/B2CConstants.cs#L10) in the sample. Did you create a [b2C tenant](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant)?

[2019-06-14 18:06] JamesHHoustonII commented on #91
Thank you but I have found azure b2c for uwp and wpf to be a waste of time.
It is apparent that Microsoft wants developers to use ASP and I have no use
for ASP. Thank you for the reply but I have decided it is easier to build a
security suite for signup, login and reset myself then to waste another
minute on the azure b2c solution.

On Fri, Jun 14, 2019 at 12:20 PM jennyf19 <notifications@github.c

[2019-06-14 18:16] jennyf19 commented on #91
@JamesHHoustonII Thanks for the feedback, sorry it was not a good experience for you.

FYI - @valnav

[2019-06-14 18:16] #91 closed

[2019-06-17 19:15] TiagoBrenck commented on #89
@Dali2579 @jennyf19 I believe this is not an issue. The reset password flow is: type an email, then access that email (it proves that you have control of that email), then we will reset the PW for you. If you type my email, you wont be able to reset my pw, because you don't have control over my email. This reset password flow is actually found in many places and apps out there, and if you type som

[2019-06-17 23:00] Dali2579 commented on #89
@TiagoBrenck  Yes I agree with your analysis. my question was not about the reset password workflow. My question was in case of connecting as account1 and from this session reseting the password of account2, after the end of the reset password we need to keep connected to account1 .
below steps with screenshots
I signed in with the account1 to the application.
![image](https://user-images.githubus

[2019-06-17 23:11] TiagoBrenck commented on #89
Oh, now I see what you mean and indeed is an odd behavior that needs to be investigated.
Sorry about the misunderstanding.

[2019-07-02 20:40] jimwallery opened #94 "iOS Simulator cannot_access_publisher_keychain"
Entitlements.plist to Xamarin iOS cannot_access_publisher_keychain ErrorCode

Running the sample code for the UserDetailsClient sample I am receiving the above error when running the iPhoneSimulator.  The sample runs fine in Android and UWP.

![cannot_access_publisher_keychain](https://user-images.githubusercontent.com/39068307/60545055-c350c000-9cdf-11e9-967f-5836697159cc.PNG)

[2019-07-02 22:16] TiagoBrenck commented on #94
Hello @jimwallery, I had faced this issue and after investigating it, I found that the problem is related to the iOS provisioning profile. To solve it, you need to create a different provisioning profile (with a different name) because the Bundle Identifier needs to be unique.

### Creating a provisioning profile
The provisioning profile name used in this sample is `com.yourcompany.UserDetailsClie

[2019-07-03 20:20] jimwallery commented on #94
I have tried the solution identified above and am running into the same error message.  So the solution suggested didn't seem to work.  Any other thoughts?

[2019-07-04 17:35] TiagoBrenck commented on #94
@jimwallery on step 10, instead of selecting **Automatic**, do you see the profile that you created on XCode as one of the options?

[2019-07-08 21:22] charlesroddie commented on #86
I don't think this is needed as Azure AD B2C for Xamarin doesn't have a Shell dependency. It would overcomplicate the demo.

[2019-07-08 23:22] NikolaiTsepalov commented on #86
Ideally, it should be two demos, with Shell and without, but for a single demo, I'd vote for the no Shell one.

[2019-07-10 19:12] jimwallery commented on #94
Btw.  Your help on this is greatly appreciated!!!

I have gotten past the provisioning profile issue.  It was a matter of getting the Authentication Service constant for the IOSKeyChainGroup, the  iOSBundling Signing Provisioning Profile and the Entitlements.plist Enable Keychain Keychain Groups in alignment.  Also had to make an adjustment to my AppDelegate OpenURL method differing from the sampl

[2019-07-11 22:17] TiagoBrenck commented on #94
@jimwallery the image with the exception didn't load. Could you please send it again?

[2019-07-12 01:53] jimwallery commented on #94
Here is another try at sending the image.  Thank you for your help with this.

From: Tiago Brenck <notifications@github.com>
Sent: Thursday, July 11, 2019 5:18 PM
To: Azure-Samples/active-directory-b2c-xamarin-native <active-directory-b2c-xamarin-native@noreply.github.com>
Cc: Jim Wallery <jim.wallery@cloudfusionllc.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure-Samples/active-dire

[2019-07-12 21:40] TiagoBrenck commented on #94
@jimwallery the image is not being successfully attached. Could you please, just drag and drop the image using GitHub website instead of email? Thanks

[2019-07-12 21:56] jimwallery commented on #94
ok will do.  apologies on the image.

Sent from my iPhone

On Jul 12, 2019, at 4:40 PM, Tiago Brenck <notifications@github.com<mailto:notifications@github.com>> wrote:

@jimwallery<https://github.com/jimwallery> the image is not being successfully attached. Could you please, just drag and drop the image using GitHub website instead of email? Thanks

—
You are receiving this because you were mentio

[2019-07-15 17:20] jimwallery commented on #94
Attached is the image with the exception that I am encountering.
![MicrosoftIdentityClientiOSerror](https://user-images.githubusercontent.com/39068307/61235348-eecda480-a6fa-11e9-8bf6-668173c92591.jpg)

[2019-07-15 17:50] TiagoBrenck commented on #94
@jimwallery, on **UserDetailsClient.iOS** project, open the file `Entitlements.plist` using Visual Studio. Then on the left menu, navigate to **Keychain**. Make sure that the option **Enable Keychain** is checked, and `com.com.2BG.CatchallRound3` is registered in the **Keychain Groups** box.

Another thing to check is:

1. Right click on  **UserDetailsClient.iOS** project and select Properties.
1.

[2019-07-15 22:15] jimwallery commented on #94
With your help, I resolved the issue.

The entitlements required that I enter ‘com.com.2BG.CatchallRound3’.   I had mistakenly thought that the Provisioning Profile of : ‘com.2BG.CatchallRound3’ should be the same as the entitlements.plist keychain rather than requiring the extra ‘com.’    Thank you for your patience and in helping me to resolve this issue!

Just to confirm is the requirement of a

[2019-07-15 22:17] jimwallery commented on #94
With your help, I resolved the issue.

The entitlements required that I enter ‘com.com.2BG.CatchallRound3’.   I had mistakenly thought that the Provisioning Profile of : ‘com.2BG.CatchallRound3’ should be the same as the entitlements.plist keychain rather than requiring the extra ‘com.’    Thank you for your patience and in helping me to resolve this issue!

Just to confirm is the requirement of a

[2019-07-15 22:17] #94 closed

[2019-07-15 23:12] TiagoBrenck commented on #94
@jimwallery I don't think there is a requirement for the 'com.'. If you go to `B2CConstants.cs` on **UserDetailsClient.Core** project, there is a const for `IOSKeyChainGroup`. This sample is using "com.microsoft.adalcache" but I assume you want to use your company`s Keychain, so you will have to update this const.

Apple has a suggestion for the names, recommending the developers to use an inverse

[2019-07-31 14:45] subbiahkk opened #98 "Authentication is not working"
I have downloaded the MSAL 4.2.1 version and its working with the built in Client id and TenantID. Its also working for my Client/Tenant Ids. But when I create a new Xamarin form App and copy/paste the exact files its struck in the browser. After entering the credentials and clicked the Login button its stayed in the same screen.
I have override OnActivityResult on MainActivity
Updated Manifestxml

[2019-08-02 23:39] jennyf19 commented on #98
@subbiahkk are you getting any errors or it's just stuck in the browser? Can you get logs or a stack trace?

[2019-08-21 16:18] jennyf19 commented on #98
@subbiahkk any update on this?

[2019-09-10 17:05] jennyf19 commented on #98
Closing as no response.

[2019-09-10 17:05] #98 closed

[2019-09-14 07:28] vipulpatel9011 opened #102 "iOS control not returned back to application after successful login"
This is iOS specific issue.

I have completed all the steps suggested in document over here https://azure.microsoft.com/en-in/resources/samples/active-directory-b2c-xamarin-native/

In Andtoid it is working fine. But in iOS it is not returning back to application after successful login.

Yes, Login page is displaying properly we can enter the credentials over there but once login in successful the

[2019-09-15 17:19] jennyf19 commented on #102
@vipulpatel9011 In Info.plist, do you have the following:
[code]

[2019-09-16 05:15] vipulpatel9011 commented on #102
Hi @jennyf19 , Yes I have already added. Please find the attached image. I have also allowed keychain access.
![ios](https://user-images.githubusercontent.com/34236599/64935465-04805700-d86f-11e9-8be2-991501cec283.png)

[2019-09-16 16:07] jennyf19 commented on #102
@vipulpatel9011 Can you run the sample as-is and see if it works for you (without changing any of the settings)?

[2019-09-19 07:32] vipulpatel9011 commented on #102
Hi @jennyf19 ,

It is working fine with demo code. Am I missing something? I followed all the steps mentioned in the document.

Thanks,

[2019-09-19 08:15] vipulpatel9011 commented on #102
Hi @jennyf19 ,

Got the issue. Actually I am calling SignInAsync method from OnAppearing event of view. So after successful validation OnAppearing event is firing again and it lost the previous flow.

Can you please try with calling SignInAsync method from OnAppearing event of view?

Thanks for your help.

[2019-09-26 05:53] praveenkumargjll opened #104 "MSAL .NET on iOS 13 does not support system browser"
Hi,

In my xamarin forms application, Its not allowing me to popup the browser.

My Vs Details

=== Visual Studio Community 2019 for Mac ===

Version 8.3 (build 1805)
Installation UUID: f4691689-1a9e-4d28-a52f-649c048e9c20
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.16.1.24 (d16-3 / 08809f5b)

	Package version: 604000198

=== Mono Framework MDK ===

Runtime:
	Mono 6.4.0.198 (2019-06/fe64a4765e6)

[2019-09-26 12:50] vipulpatel9011 commented on #102
Hi @jennyf19 , Is there any update? I don't want to add extra screen, so I am calling SignInAsync mehod from OnAppearing.

[2019-09-27 11:14] norton287 commented on #104
I am seeing the same issue after upgrading to iPadOS 13.1, the signininteractively method does not open safari to authenticate the user.  Here is my environment:

=== Visual Studio Community 2019 for Mac ===

Version 8.3 (build 1805)
Installation UUID: 179e6926-6647-4aed-9588-e855e4a14452
	GTK+ 2.24.23 (Raleigh theme)
	Xamarin.Mac 5.16.1.24 (d16-3 / 08809f5b)

	Package version: 604000198

=== Mono

[2019-09-30 07:14] jennyf19 commented on #104
@praveenkumargjll @norton287 Thank you for opening the issue. Please follow this [issue in MSAL.NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1399) for updates. How system browser is handled in iOS 13 has changed, we will fix this in MSAL asap. Thanks for your patience.

A workaround is to use embedded webview, but please note that embedded webview will not wor

[2019-09-30 07:26] jennyf19 commented on #102
@vipulpatel9011 What code do you have in OnAppearing? You can check the GetAccounts and see if there are any accounts already available from a previous sign-in, but otherwise you will be getting prompted for each time OnAppearing is called (or a silent call will be made). Can you share your code or a repro?

[2019-09-30 07:51] jennyf19 commented on #73
@markti I"m assuming this has been resolved....if not, please reopen and tag me. thanks.

[2019-09-30 07:51] #73 closed

[2019-09-30 14:50] vipulpatel9011 commented on #102
Hi @jennyf19, I have changed the demo code only. You can download demo code from below link.
https://drive.google.com/file/d/14ORmZ7FY41KaKF4XORPWxs5vkVP0TZXo/view?usp=sharing

Yes, I am getting popup each time. Can you please help me with how to check GetAccounts? In demo we are using .WithAccount while requesting token, but still I am getting popup.

Thanks,
Vipul

[2019-09-30 21:42] jennyf19 commented on #102
@vipulpatel9011 sure, i'll take a look..i  am at a customer event the next couple of days, so may or may not be able to get to this immediately, but will try.

[2019-10-03 17:12] jennyf19 commented on #104
@praveenkumargjll @norton287 @jdhuntington Please see our [updated documentation](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/iOS-13-issue-with-system-browser-on-MSAL-.NET)

[2019-10-09 14:55] jennyf19 commented on #102
@vipulpatel9011 I should be able to look at this next week. sorry for the delay. have had some high priority issues w/ADAL and MSAL to sort out.

[2019-10-14 11:46] talk2stephan opened #105 "[Doubt] Login without login webpage in Xamarin"
Is there any way I can create a native login page and authenticate user and get the barer token without using Azure AD B2C OAUTH 2.0 web page?

Based on the business requirement, I am not suppose to use the login through internal / external browser. Is there anyway I can achieve this. If possible could you please share some samples / documentation?

[2019-10-16 00:45] jennyf19 commented on #105
@talk2stephan Do you want to login w/an embedded webview, and not the system browser? B2C allows you to customize the login experience. We can set you up with the right B2C people, if that would be helpful.

[2019-10-16 00:46] jennyf19 commented on #104
@praveenkumargjll @norton287 @jdhuntington included in msal 4.5.0 release

[2019-10-16 00:46] #104 closed

[2019-10-16 10:23] talk2stephan commented on #105
That means I can create a native login page and perform Login with out browser right?

Could you please share any documentation or samples I can refer?

[2019-11-19 17:05] n8allan commented on #28
Not sure why this was closed when this remains a genuine problem with the ad b2c sample.
 .WithRedirectUri() should be added to the sample (when creating the AuthenticationClient) and associated documentation.  Without this, the sample doesn't work and unless someone stumbles on this issue, they'll be hopelessly stuck (I was for hours).

[2019-11-19 21:39] jennyf19 commented on #28
@n8allan not sure what the issue is that you had. We do have `.WithRedirectUri()` in the sample [here](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/Features/LogOn/B2CAuthenticationService.cs#L23)...we test this sample with each release of MSAL to ensure it is working. Would like to know more about the issue you were runni

[2019-11-21 16:48] n8allan commented on #28
I wish I had seen that sample instead.  [This](https://github.com/xamarin/xamarin-forms-samples/blob/master/WebServices/AzureADB2CAuth/ADB2CAuthorization/App.xaml.cs#L19) is the one I was referring to and as you can see it doesn't have that critical line.

[2019-11-21 17:03] jennyf19 commented on #28
@n8allan oh...i see. Thank you. We (MSAL .NET team) do not own that sample. Sorry lost time on it. We will sync w/the sample owners and update.
cc: @jmprieur - I'll submit a PR to update their sample.

[2019-11-22 21:39] ivanrlg opened #109 "Problem on android when you have several apps that use B2C"
Hi, I'm relatively new to Xamarin / Azure.

The problem is that I am using the ADD / B2C authentication system in 3 different Xamarin applications on Android, and it happens when I try to log, after entering the credentials does not redirects me to the application that called it.

I have removed all the apps and I try with just one and it works fine, but if I have all 3 at the same time installed

[2019-12-01 20:06] jennyf19 commented on #109
@ivanrlg thanks for opening the issue. Can you share any of your code? Would be nice to see how you are setting up the public client application, the android manifest, and the acquire token calls.

Do you have a repro you can share as well?

[2019-12-04 17:01] jennyf19 commented on #28
@n8allan the sample has been fixed

[2019-12-05 13:37] stackunderflows commented on #105
I am also interested in this.

[2019-12-05 13:42] stackunderflows opened #110 "Can't switch users"
If you login as user A, log out, then try to login as user B, it automatically logs you in as user A again. The login information appears to be cached in the browser. How can I change users? Is there an option to not user the browser?

[2019-12-05 18:09] n8allan commented on #28
Thank you @jennyf19 .

[2019-12-05 18:39] jennyf19 commented on #105
@talk2stephan @stackunderflows  in B2C, you can customize every element of the login page. this should be a place to [start](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview)

[2019-12-05 18:42] stackunderflows commented on #105
@jennyf19 Is it possible to use an in-app webview instead of redirecting the user out of app to the browser?

[2019-12-05 19:15] jennyf19 commented on #105
@stackunderflows that should work fine as well. just know that Google does not accept embedded webview for auth, so if you're using Google as an IdP, it won't work w/embedded webview. We have more [info here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/AAD-B2C-specifics#google-auth-and-embedded-webview)

[2019-12-05 19:28] jennyf19 commented on #110
@stackunderflows are you using the sample as-is? Which platform (iOS/Android)?

[2019-12-05 19:43] stackunderflows commented on #110
Using the app as-is. Same behavior on iOS and Android. I had this problem when using the Microsoft auth provider. On Android, if I clear the data from Chrome it will ask for a username again. So it's something with the browser caching the login info.

[2019-12-05 19:56] jennyf19 commented on #110
@stackunderflows I see, this is from the session cookies. You can try adding a prompt value on [this line](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/Features/LogOn/B2CAuthenticationService.cs#L88)...something like:
`.WithPrompt(Prompt.SelectAccount)` -> this will force an account selection dialog w/all the accounts use

[2019-12-05 22:20] #7 closed

[2019-12-06 18:48] jennyf19 commented on #110
@stackunderflows does the above solution work for you?

[2019-12-06 18:50] jennyf19 commented on #102
@vipulpatel9011 Thanks for the repro. I had to do two things, first update to the latest version of msal (4.7.1) due to iOS 13 changes and add `.ConfigureAwait(false)` to all the async calls. I think you were hitting a threading issue by starting the call in `OnAppearing()` but not awaiting the auth calls.

ex:
`var userContext = await authenticationService.SignInAsync().ConfigureAwait(false);`

[

[2019-12-06 20:55] jennyf19 commented on #105
@talk2stephan do the links provided answer your question?

[2019-12-09 15:08] stackunderflows commented on #110
That works. Thanks!

[2019-12-09 17:06] jennyf19 commented on #110
@stackunderflows awesome. Am going to close, but reopen or make another if you hit other issues.

[2019-12-09 17:06] #110 closed

[2019-12-20 15:31] nimccoll commented on #98
I am able to reproduce this same issue

[2019-12-20 15:56] jennyf19 commented on #98
@nimccoll which platform?

[2019-12-20 15:58] nimccoll commented on #98
Android 9.0 - API 28. Thanks.

Nick McCollum | Senior Azure FastTrack Engineer | Azure CxP Engineering | Microsoft
Phone: 231-557-9601
Email: nimccoll@microsoft.com<mailto:nimccoll@microsoft.com>
[Certifications7_LG]

From: jennyf19 <notifications@github.com>
Sent: Friday, December 20, 2019 10:57 AM
To: Azure-Samples/active-directory-b2c-xamarin-native <active-directory-b2c-xamarin-native@noreply.

[2019-12-20 16:19] nimccoll opened #113 "Browser login just stops when I click the Sign In button on the B2C login page"
I started a new Xamarin Forms project in Visual Studio 2019 and brought over the necessary files from the sample project and updated the MainActivity.cs file and added the MSALActivity.cs file. When I run the application in an Android emulator running Android 9.0 - API 28 the browser opens and shows the B2C sign-in page. I enter my credentials and press the Sign In button and nothing happens. The

[2019-12-20 16:27] nimccoll commented on #113
Disregard. It turns out I had a malformed DataScheme property in the IntentFilter attribute in my MSALActivity.cs file. Closing this issue.

[2019-12-20 16:27] #113 closed

[2019-12-20 16:28] nimccoll commented on #98
Ok I discovered the issue and this may have been the original poster's issue as well. It turns out I had a malformed DataScheme property in the IntentFilter attribute in my MSALActivity.cs file.

[2019-12-21 00:57] jennyf19 commented on #98
Thanks for the update @nimccoll ....glad you figured it out. Is there something we can put in our wiki to help other customers, as you're not the first one to hit this issue?

[2019-12-22 15:39] nithinlogiticks opened #114 "Android app archive issue"
when i try to archive my project with linking-sdk assamlies only I got error

Severity	Code	Description	Project	File	Line	Suppression State
Error		The "LinkAssemblies" task failed unexpectedly.
Java.Interop.Tools.Diagnostics.XamarinAndroidException: error XA2006: Could not resolve reference to 'System.Collections.Generic.Stack`1' (defined in assembly 'Microsoft.Identity.Client, Version=4.7.1.0, Cu

[2019-12-26 12:12] pawanshakya opened #115 "Unable to run iOS version app , looking for 'System.Net.Http.NSUrlSessionHandler'"
Could not resolve type with token 010001ac from typeref (expected class 'System.Net.Http.NSUrlSessionHandler' in assembly 'Xamarin.iOS, Version=0.0.0.0, Culture=neutral, PublicKeyToken=84e04ff9cfb79065')

------------------------------------------------------------------------------------

  at Microsoft.Identity.Client.Http.HttpManager..ctor (Microsoft.Identity.Client.IMsalHttpClientFactory httpC

[2020-01-06 02:01] thekeviv commented on #105
If I may, I also wanted to ask this and I don't think the links provided still provide the correct answer. So, when we use this approach, it opens a web view and the user logs in through that web view. We don't want to use a web view but use the native entry and button controls to implement our own user interface (and not just customize that we view using html/css). I stumbled upon the ROPC method

[2020-01-06 09:16] jennyf19 commented on #105
@thekeviv The app has to [delegate the authentication](https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-scenarios#desktop-and-mobile-app-sign-in-flow-with-azure-ad) to AAD B2C, so we need to show a webview, either via the embedded webview or the system browser. More on [web browsers](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-web-browsers

[2020-01-07 01:21] arbesoft opened #116 "Edit Profile"
When I edit my profile, everything is fine, I get right values for example "Username".  If I close the app and start it again and signin, I get the token from cache with my old "Username". Is there a way to fix this?

[2020-01-07 18:42] TiagoBrenck commented on #114
Would this link be a solution for your problem? https://docs.microsoft.com/en-us/xamarin/xamarin-forms/troubleshooting/questions/android-linkassemblies-error

[2020-01-07 18:52] TiagoBrenck commented on #115
I have tried to reproduce it and the sample worked perfectly for iOS.

Did you get a fresh clone from this repo? Or tried clean/build the solution? If you are still having issues, could you please add some steps (or details) to help me reproduce the error?

[2020-01-07 20:02] TiagoBrenck commented on #116
@arbesoft I could reproduce the bug. It happens if you don't hit "sign-out" and just stop the app from running on Visual Studio. Then when you start it again and press "sign-in", it goes through the acquire token silently code and retrieve an outdated user info.

@bgavrilMS @jennyf19 when I debugged this issue I have noticed that when you sign-in and edit your profile, MSAL cache will have 2 accou

[2020-01-07 20:12] arbesoft commented on #116
@TiagoBrenck  yes it´s right it happens if I don´t  click signout. But I think it´s a real world scenario, if the user close the app,  and if we implement AcquireTokenSilent on start?

[2020-01-08 07:53] jennyf19 commented on #116
@arbesoft This is expected. With AAD B2C, each user flow (policy) is a separate authority, which means a separate account in the cache. That being said, when you target su_si user flow, you get a token in the cache. Then, when targeting the edit profile user flow, you will have a new token in the cache for the edit profile policy. This is why developers using B2C and MSAL are required to do [speci

[2020-01-08 09:46] isurujayasighe commented on #22
I have the same issue with uploaded apk to play store. but same apk works manually install

[2020-01-14 02:21] thekeviv commented on #105
I did see the ROPC Page as I wrote in the comment but it has it's own limitations as the documentation mentions. The reason why I don't want to use a webview is because we have already built our login/signup interface natively and want to use that instead of using the webview.

[2020-01-14 08:53] jennyf19 commented on #105
@thekeviv If you want to learn more about B2C UI customization, I can get you in contact with the B2C PMs and they can see how to help. If that's useful, please send me an email: jeferrie@microsoft.com

[2020-01-14 20:36] jennyf19 commented on #109
@ivanrlg -> do you have a repro  you can share?

[2020-01-15 13:49] thekeviv commented on #105
Sent! Thank You!

[2020-01-16 15:11] jmprieur opened #117 "Update the sample to latest MSAL and public client redirect URI"
The sample:
- does not use the latest MSAL.NET
- still uses the urn: redirect URI

We should update it.

cc: @aiwangmicrosoft @jennyf19

[2020-01-22 23:50] jennyf19 commented on #116
@arbesoft closing, as this is by design.

[2020-01-22 23:50] #116 closed

[2020-01-22 23:51] jennyf19 commented on #115
@pawanshakya any update on this? Thanks.

[2020-01-22 23:51] jennyf19 commented on #114
@nithinlogiticks any update on this? thanks.

[2020-01-22 23:51] jennyf19 commented on #109
@ivanrlg do you have a repro you can share?

[2020-01-22 23:52] jennyf19 commented on #105
@thekeviv did you get your questions answered? Can we close this issue?

[2020-01-22 23:53] jennyf19 commented on #102
@vipulpatel9011 closing as resolved. feel free to reopen or create another. thanks.

[2020-01-22 23:53] #102 closed

[2020-01-22 23:53] jennyf19 commented on #89
@TiagoBrenck did you investigate this?

[2020-01-23 00:10] jennyf19 commented on #88
@JasSuri do you guys have a sample for this?

[2020-01-23 02:58] pawanshakya commented on #115
This turned out to be nothing related to this plugin. After updating my visual studio in mac to latest version (updated Xamarin.ios as well internally) resolved this issue for me.

[2020-01-23 02:58] #115 closed

[2020-01-24 03:41] thekeviv commented on #105
@jennyf19 Thanks for following back. What they told is that azure b2c does have support for building native login UI's using the ROPC flow. The concern I had about Microsoft mentioning it to be an insecure method was also answered and said that it's as secure as the methods by AWS/Google cloud. It's just Microsoft making us aware of the potential downsides of this approach. According to me it shou

[2020-01-24 16:26] jennyf19 commented on #105
Thanks for the update @thekeviv appreciated.

@talk2stephan  i'm going to close the issue, but please reopen, or continue the conversation here if needed, or open a new one. thank you.

[2020-01-24 16:26] #105 closed

[2020-01-24 18:18] ivanrlg commented on #109
Hi, thanks for contacting, unfortunately I do not have a repo at this time to reproduce, the lack of response and the rush to finish the first few days forced me to change the logging system to something more archaic but functional. Thank you very much for answering. We could close the case if necessary.

[2020-01-24 19:28] jennyf19 commented on #109
@ivanrlg ok...i will close for now, but if you come across it again, please reopen (and tag me) or open a new issue. thanks.

[2020-01-24 19:28] #109 closed

[2020-02-09 14:34] nithinlogiticks commented on #114
When I downgraded version to 4.4 it works fine to me

[2020-02-09 16:27] jennyf19 commented on #114
@nithinlogiticks could you try with the latest version (4.8.1)? the linker issues should be resolved there.

[2020-02-11 14:14] nithinlogiticks opened #119 "Access token expire issue"
What should I do when access token got expired?is there any method in Microsoft.Identity.Client which updates the current access token?

[2020-02-11 18:03] TiagoBrenck commented on #119
When you call `AcquireTokenSilent()`, MSAL will handle this for you automatically because it has the refresh token. However, if the refresh token is also expired, then you will get a `MsalUiRequiredException` which requires you to call `AcquireTokenInteractive()`.

More info in the [Readme](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native#about-the-code)

[2020-02-14 19:34] jennyf19 commented on #109
@ivanrlg I think I hit the same problem randomly today while testing. I had to update the manifest file for android
[code]

see the android:scheme...it has the clientId and matches what should be the redirectURI in the portal.

The redirect URI for mobile has this format:
[code]
Which matches the android:scheme and android:host above. This should resolve the issue.

[2020-02-27 18:48] Lfdstudios opened #122 "Add MVVM Format"
I've been struggling for months now trying to get this working correctly with MVVM format. I want it to try to acquire a token AND display usercontext automatically but that isn't possible in this format. It is very unclear about how to use IAuthService.

If you could make it in MVVM with ViewModelBase acquiring token/usercontext and a mainpage showing how to display this context that would be ver

[2020-03-08 13:38] #44 closed

[2020-03-10 14:08] codenshare opened #123 "Android Redirect URI Not Working"
Configured Android App on ADB2C, When I click on login, it opens the login page but after entering the username and password, it keep on sticking to the same page the call does not come back on the app.

I have read all the existing threads but have not been able to solve this, please help.

Steps followed on Azure:

1. Copied the package name -
com.xamarin.adb2cauthorization

2. Generated Key usi

[2020-03-10 18:25] TiagoBrenck commented on #123
Hi @codenshare, did you also update the `DataScheme` at [MsalActivity.cs](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Droid/MsalActivity.cs)?

[2020-03-10 19:02] codenshare commented on #123
Thanks Tiago for the hint. There is more to it

Found, the code is not updated for newer changes
To fix the issue

In AndroidManifest.xml  Update the new schema for android:scheme:

` <activity android:name="microsoft.identity.client.BrowserTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAUL

[2020-03-10 19:02] #123 closed

[2020-03-30 11:54] vipulpatel808 opened #124 "iOS access Popup"
After integrating Azure AD B2C with xamarin.forms, iOS is asking for confirmation to open web application. Please find the attached image.

How can we avoid this popup message?

![image](https://user-images.githubusercontent.com/37298782/77909597-7edc5b80-7242-11ea-83c7-12d47ea252a5.png)

[2020-03-30 16:00] jmprieur commented on #124
@vipulpatel808: no you cannot avoid it. It's the OS showing it.

[2020-04-21 13:37] vipulpatel0911 commented on #124
Hi @jmprieur ,

Thanks for your reply. One more question, If this popup is open and I minimize the application and resume it again, popup is getting closed. So user don't have any option to do at the time of resume.

Can you please let me know if this is the expected behavior?

Thanks,
Vipul

[2020-04-21 13:54] jmprieur commented on #124
@trwalke @aiwangmicrosoft

[2020-04-21 14:23] joemc3 opened #125 "Android Specific Considerations in README does not match code in project"
The reference in the README section has two line changes (that are different than the code in the project) and no mention of using the ParentWindow LocatorService or the MaslActivity.cs.  This is particularly confusing to those new to AAD B2C and Xamarin.

[2020-04-23 08:37] jmprieur commented on #125
@trwalke @aiwangmicrosoft can we please update the README.md (align as much as possible with the Xamarin AAD sample without broker, as B2C does not support broker)

[2020-05-04 16:55] jennyf19 commented on #124
@oldalton do you know if this behavior is excepted w/the iOS popup?
"Thanks for your reply. One more question, If this popup is open and I minimize the application and resume it again, popup is getting closed. So user don't have any option to do at the time of resume."

[2020-05-04 16:55] jennyf19 commented on #119
closing as answered -> @nithinlogiticks

[2020-05-04 16:55] #119 closed

[2020-05-04 16:56] jennyf19 commented on #117
@aiwangmicrosoft status on this?

[2020-05-04 16:56] jennyf19 commented on #114
closing, as we have fixed this in 4.8.1 and up. Please reopen if there are more issues.

[2020-05-04 16:56] #114 closed

[2020-05-04 16:57] aiwangmicrosoft commented on #117
Haven't started and don't plan to this week, is this hi pri?

[2020-05-04 17:00] jennyf19 commented on #117
@aiwangmicrosoft Updating the URI should be a string replacement and then testing. Should be done sooner than later. Or assign to someone else if you don't have time.

[2020-05-04 23:02] oldalton commented on #124
@jennyf19  While this behavior is not expected, it is Apple's bug, and there's nothing MSAL can do about it. I've seen it reported before as well with MSAL Obj-C library.

[2020-05-05 02:15] jennyf19 commented on #124
Thanks for the quick response @oldalton

@vipulpatel0911 closing as external to MSAL .NET. Let us know if you run into any other issues.

[2020-05-05 02:15] #124 closed

[2020-05-06 11:45] FSchmidNT opened #129 "Problems when using your own tenant"
Hi,

I'm trying to use my own tenant, but I'm stuck on step six. Which ClientId must be used here? I don't copy anything at step 2 either.

Thanks in advance

[2020-05-06 13:09] jmprieur commented on #129
Did you register your application?
See https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-register-applications?tabs=applications#register-a-mobilenative-application

[2020-05-06 13:14] FSchmidNT commented on #129
Yes, the app is registered. I also changed all credentials except the one in step 6.

[2020-05-06 14:31] FSchmidNT commented on #129
![image](https://user-images.githubusercontent.com/59088039/81189386-c9c25f00-8fb6-11ea-8782-27a79a98ce74.png)

I do not understand what ID is meant here. In step 2 (Get your own Azure AD B2C tenant) I do not get a ClientID?!

[2020-05-07 18:51] TiagoBrenck commented on #129
The clientId is the application ID that you have registered. You can find it under **App Registration**>**Your App**>**Overview tab**:
![image](https://user-images.githubusercontent.com/16087102/81333122-f333c700-9058-11ea-87b8-9d7110909db6.png)

[2020-05-12 09:23] FSchmidNT commented on #129
I figured out how it works. Thanks for the help

[2020-05-19 01:11] jennyf19 commented on #129
Thanks @FSchmidNT Please reopen or create another issue if you need more assistance.

[2020-05-19 01:11] #129 closed

[2020-06-18 01:47] plettb opened #131 "fabrikamb2c Configuration"
This is an excellent example, and works exactly the way I want my application to work.  However, try as I might I simply can't get my configuration to work the same way.  Is there any chance there the configuration of the "fabrikamb2c" could be documented?

There is a similar request on another sample project [here](https://github.com/Azure-Samples/active-directory-b2c-dotnet-uwp/issues/1), but it

[2020-06-18 02:11] plettb opened #132 "Node.js Web API with Azure AD B2C"
It's probably asking too much, but could this sample be built on a .NET back end instead of one in Node.js (see step 4 of the instructions)?  Alternatively, has anyone translated [this sample](https://github.com/Azure-Samples/active-directory-b2c-javascript-nodejs-webapi) into a C# project?  This is a great sample and I want my application working exactly the same way, but I can't seem to get ther

[2020-06-18 03:33] jennyf19 commented on #131
@plettb thanks for the feedback. Does this [documentation](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant) help get you started? It walks you through how to set up your own b2c tenant.

[2020-06-18 03:36] jennyf19 commented on #132
@plettb Here is a c# [one](https://github.com/Azure-Samples/active-directory-aspnetcore-webapp-openidconnect-v2/tree/master/4-WebApp-your-API/4-2-B2C) which shows how to secure a web API built with ASP .NET Core. The sample has a client web app and calls a protected web API. This is the closest we have to a c# web API, as all of our samples use the same node .js one.

Let us know if this helps at

[2020-06-18 16:25] jennyf19 commented on #131
@plettb i see. so it's just with getting the sample working with your specific b2c tenant. Thanks for clarifying that.
Are you running the sample-is...meaning you are just replacing the variable values with your own?

[2020-06-18 16:55] plettb commented on #131
Yes, the **_only_** thing I'm changing is "B2CConstants".  That way, in theory, if I've set up my B2C tenant, together with the app registrations, etc., correctly mine should run identically.

(Well, when trying to get the API call working, I'm also having to change the endpoint URL in "App.xaml.cs".  That endpoint should be moved into "B2CConstants", in my opinion, but that's very minor.)

[2020-06-18 16:59] jennyf19 commented on #131
@plettb Yes, a PR to fix that would be great. thanks!

For Android, in the `AndroidManifest.xml`, you'll need to change the [scheme value](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/d4442b8ee6dcc278938c0fa9d9eb162480a84973/UserDetailsClient/UserDetailsClient.Droid/Properties/AndroidManifest.xml#L13) to be your clientId:
`<data android:scheme="msal[your_client_id]" an

[2020-06-18 17:25] plettb commented on #131
The problem is that I'd find it difficult to fix only that issue.  If/when I get time I'll do that, but also address one of the other issues in this branch:  attempt to implement MVVM.

In the infamous words of Homer Simpson... D'oh!!!  Well, I was sure it was something simple, and at least on that score I was right.  Still... that feels like a rookie mistake on my part.  Thanks a LOT, @jennyf19!!

[2020-06-18 17:33] jennyf19 commented on #131
@plettb glad you got it sorted out! thanks for the quick reply.

@bgavrilMS can you assist on the debugging in UWP issue @plettb mentions above?

[2020-06-18 17:33] jennyf19 commented on #131
@plettb also, take your time on the PR(s), we appreciate any outside contribution.

[2020-06-18 18:37] plettb commented on #132
Having tinkered with that for a while, I still haven't made any progress.  What's irritating is that this _should_ be relatively easy.  I'm likely making some more rookie mistakes, but...

If/when I get this working, I'll be sure to add to the documentation or the wiki or even provide a working .NET version, but until then... I'll plug along in growing frustration.

[2020-06-24 01:27] plettb commented on #131
Apparently I wasn't quite as close as I thought.  Whereas the authentication against my own B2C tenant _appears_ to be working, it's not actually providing an access token that can be used for subsequent calls.  Once again I'm curious how "fabrikamb2c" is different from my configuration.  Why does it return a token and mine doesn't?!?

[2020-06-24 01:59] jennyf19 commented on #131
@plettb In the sample, we have a mobile client, which is calling the node js web api (protected resource).

Because we follow the OAuth2.0 protocol, which is to gain access to protected resources through scoped access tokens, the node js web api exposes some scopes:
![image](https://user-images.githubusercontent.com/19942418/85486628-d65b4080-b57f-11ea-8c41-ff842ad7e9a8.png)

Then with the mobile

[2020-06-24 18:05] plettb commented on #131
@jennyf19 Thank-you SO MUCH!!!  It was, indeed, a "scope" thing, and I was able to get it working!

I find this a bit strange, but it didn't prevent me from getting it working.  In the "fabrikamb2c" configuration page you show above, notice this:
![image](https://user-images.githubusercontent.com/13162376/85608186-ace6f700-b609-11ea-9c98-f52265f70457.png)
In my test environment, I get this:
![imag

[2020-06-24 19:03] jennyf19 commented on #131
@plettb I'm glad it's working! yay!

We have [this](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/README.md#optional-step-4-create-your-own-web-api) in the ReadMe, but sounds like it's either 1) no clear or 2) not updated, or both. :)

@mmacy do we have a doc which clearly shows how to connect a B2C tenant's client app + protected resource (web API), in the Azure

[2020-06-24 19:05] jennyf19 commented on #132
@plettb since this is unrelated to this sample, can we close the issue?

[2020-06-24 19:06] jennyf19 commented on #125
@trwalke do you have an ETA on this? Thanks.

cc: @henrik-me @aiwangmicrosoft

[2020-06-24 19:21] trwalke commented on #125
by end of week

[2020-06-24 19:25] jennyf19 commented on #125
@trwalke sweet. thanks!

[2020-06-24 20:44] plettb commented on #132
Sure thing.

[2020-06-24 20:44] #132 closed

[2020-06-25 14:29] lorne-olo commented on #131
I agree that it would be very beneficial to have access to all relevant Fabrikamb2c config information. I have my own B2C tenant, etc., I can log in via my Xam app, etc. but I can't seem to get the AccessToken returned upon login.

[2020-06-25 16:09] plettb commented on #131
I don't know if this will help you, but when I was not getting an AccessToken returned, it turned out to be due to the scopes.  To be honest I'm not exactly sure what the problem was, but I went through all the steps to create a NEW scope, used it in my app, and it began working.  Hope that helps!

[2020-06-25 16:09] jennyf19 commented on #131
@lorne-olo did you see what I wrote [above](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/131#issuecomment-648536491) regarding the access token?
@nickgmicrosoft we need to improve the documentation around this...do you have bandwidth?

[2020-06-25 19:15] lorne-olo commented on #131
@jennyf19 Yes, thanks. Your comments have helped. There are just so many moving pieces--and every person's situation is a little different. I now obtain the access token, but when I call an endpoint of my web app, the response is HTML indicating I can't be logged in. (I'm actually just trying to access API endpoints in a web app that are simply secured by an 'Authorize' attribute.)
<img width="313

[2020-06-25 19:28] lorne-olo commented on #131
Here's what might seem like a dumb question, but what constitutes an 'application' in the context of registering one with Azure AD B2C? I ask this because within the 'Authentication' blade of a registered app, I can add 'Platforms'. So, is my web application and my companion mobile app considered the same application, but with two platforms? Or are they two separate applications?

Separately, how

[2020-06-25 20:09] nickgmicrosoft commented on #131
Hi Iorne, please take a look at this documentation: https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-web-api-application?tabs=app-reg-ga.

We recommend you create one app for your web API and one app for your clients (android, iOS, etc.). For the web API, you set up scopes. For the client app(s), you set up permissions on those scopes. To read more about permissions and scopes, see

[2020-06-25 23:42] mmacy commented on #131
I recommend performing these in order, at least the app registration/configuration sections in each:

1. [Tutorial: Register a web application in B2C](https://docs.microsoft.com/azure/active-directory-b2c/tutorial-register-applications)
1. [Tutorial: Enable authentication in a web application using B2C](https://docs.microsoft.com/azure/active-directory-b2c/tutorial-web-app-dotnet)
1. [Tutorial: Gr

[2020-06-25 23:53] jennyf19 commented on #131
Not a dumb question. An application for Azure AD B2C and for AAD is a client, so could be web app, web API, mobile, desktop, etc.. When you create an application, a unique identifier is created for that application in the authorization server (AAD B2C or AAD), which is the client id.

Mobile and desktop applications are public clients, which means they cannot keep a configuration time secret, so t

[2020-06-25 23:54] jennyf19 commented on #131
@mmacy thanks!

@lorne-olo this is a mobile app, so if you look at @mmacy 's diagram, you won't have a client secret there.

[2020-06-26 03:07] lorne-olo commented on #131
@jennyf19  Thanks for all the info. It's appreciated.
I think the final problem I'm having is that I'm trying to use this bearer token with a web app that is already set up to use authorization code grant flow (I think), and now I'm trying to use a JWT bearer token as well. Is it possible to use **both** authentication schemes in my .NET Core web app? something like...
[code]
Or do I need to creat

[2020-06-26 11:40] jmprieur commented on #131
You can use both, @lorne-olo : but you need to have a different scheme name (you can bind to the same configuration section, though)

[2020-07-01 19:23] #125 closed

[2020-07-11 05:50] tobo77 opened #134 "OnAppearing() Method not found in example Code"
Thank you very much for this example! I can not find the provided OnAppearing-method in the code. Can you guys please explain, how to check the sign-in state, when the dialog appears and if the user is not signed-in, how to redirect to the ad b2c login-page automatically? A reply is highly appreciated!
Thank for our work again!

Tobias

[2020-07-18 17:39] JamesHHoustonII opened #135 "Microsoft Graph MSIX/WapProj msalcache.bin3 access deined"
The app I have written uses the MS Graph API, it works once it has been wrapped in WapProj using the run on local (F5) option, However once packaged I cannot sign into the application it fails while contacting the MS Graph API.  The error returned is
System.UnauthorizedAccessException
  HResult=0x80070005
  Message=Access to the path 'C:\Program Files\WindowsApps\MyAPP_1.0.11.0_x64__h80yaa9tq92pe\

[2020-07-19 01:11] JamesHHoustonII commented on #135
Question was addressed here CacheFilePath incompatible with MSIX #49182 however the line that should be substituted:
private static readonly string CacheFilePath =
$"{Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData)}\{AppName}\msalcache.bin";

AppName has an error my App name is not working and this is the only reference of it. also \{AppName}\ "\" requires escaping what i

[2020-07-21 15:00] JamesHHoustonII commented on #135
I would recommend using the old msi installer and then attempt to warp it in a MSIX it will be sometime before the bugs are worked out of just adding a windows package.

For the old msi installer method go here:  https://www.youtube.com/watch?v=JpqQVpFfFN8

[2020-07-21 15:00] #135 closed

[2020-08-17 23:46] amirvenus opened #137 "[UWP] We can't connect to the service you need right now. Check your network connection or try this again later."
Hi,

I have tried the sample on iOS and Android and they work beautifully fine however, we would love to have the same for our UWP target inside the Xamarin.Forms project.

I keep on getting the error:

<img width="662" alt="image" src="https://user-images.githubusercontent.com/5879559/90454797-253ed580-e0ec-11ea-9179-3237c325f6ce.png">

I have also tried the 'registry key' trick as well as settin

[2020-08-24 14:42] martinrichterlondon commented on #10
Yes, this worked:

	<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msalioxxx.xxxx.xxx.xxx</string>
			</array>
		</dict>

[2020-09-09 08:06] amirvenus commented on #10
My client id is

9338bf57-7f33-4a66-bb30-51d84badd3ae

So does it need to be

[code]

or

[code]

[2020-09-11 20:39] Kasenga opened #139 "MSAL B2C token refresh flow - multiple APIs"
Hello team!
This is a great sample, easy to understand and works well obtaining a token from B2C and calling an API.
There is a known limitation with B2C in the sense that the token refresh flow does not allow obtain tokens for a second, different API.
Doing so yields an id token, refresh token and a null access token!!
To obtain a second access token, AcquireTokenInteractive will need to be calle

[2020-09-11 23:11] henrik-me commented on #139
@Kasenga : we are tracking this work as part of our MSAL releases currently scheduled for 4.20. There is currently no ETA.

[2020-10-23 16:49] jennyf19 commented on #137
@amirvenus looks like the same issue in this [sample](https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/152). can you get back the info @bgavrilMS asked for in the linked sample? Thanks. feel free to reopen.

[2020-10-23 16:49] #137 closed

[2020-10-24 02:29] jennyf19 commented on #134
@tobo77 does the conversation in this [issue](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/issues/102#issuecomment-562693209) help at all? if not, let us know.

[2020-10-30 11:00] MichaelWytek opened #141 "[UWP] Login via OpenId Connect IdentityProvider - We can't connect to the service you need right now. Check your network connection or try this again later."
Hello,

I have already implemented your sample into an external app, but i got errors while login with openid identity providers.

To reproduce this problem I checked out your latest master, tried to reproduce this error within your solution and it also occurs there.
I just changed the B2CConstants file values and everything is working for local accounts.
In my Azure B2C I have created 2 identity

[2020-11-02 16:52] fabiolg82 opened #142 "Problems to run (Xamarin.Android.Support.Annotations package)"
Hi,
I'm having problems to running. I did the clone and tried to build it.
The first message that appears is:

[code]
**Here my settings**

[code]

[2020-11-17 07:59] onyand commented on #131
I am also experiencing similar issues as above. Mine is a WebApp exposing its own API endpoints with an android front end. The Webapp gets authenticated successfully on B2C. My API scope is well defined as it gets assigned to the scp claim of the id_token on successful logon to android.  The access token is also generated on the android application. However, when I attempt to access the exposed AP

[2020-11-17 08:10] jmprieur commented on #131
@onyand : for ASP.NET Core web APIs, we recommend you use Microsoft.Identity.Web
See https://github.com/AzureAD/microsoft-identity-web/wiki/web-apis

[2020-11-17 13:50] onyand commented on #131
@jmprieur The documentation has not helped in addressing the issue. I still have the 401 error generated for the access token (bearer token) generated on the android application even when used against postman. The code in the documentation is similar to what I have implemented derived from existing Microsoft samples. Seems like what I am missing out is on the correct combination of authentication

[2020-11-17 16:40] jmprieur commented on #131
@onyand which scope do you request?

[2020-11-17 17:46] onyand commented on #131
I created a scope called "read" against the Expose an API section.
Some things to take note are:
1. On Azure AD B2C, I had to manually modify the manifest as shown below to accommodate both the user and admin consent. For some reason on the GUI interface it only allows creation of admin consent.

2. In android, the scope has to be specified as a full path (i.e. "https://<domain>.onmicrosoft.com/<c

[2020-11-30 09:29] MichaelWytek commented on #141
Can you reproduce this issue? Or do you need further informations?

[2020-12-01 13:34] #134 closed

[2020-12-07 09:19] keerthinathganjam commented on #84
Getting the same error how to solve this? i an simply trying to run the sample app. Any Changes i need to make this work?

[2020-12-07 15:53] alexanderdp commented on #142
Same error here:

Even after Clean, Unload, Reload, Manually add package "Xamarin.Android.Support.Annotations version 28.0.0.1" (Cleam Unload Reload etc etc).

This Droid project fails to build.

Updating all packages also did not help.

[2020-12-08 16:22] HappyNomad commented on #28
I was stuck for hours, too, since all I got was the error in the UI mentioned above and this cryptic exception:

A more actionable exception message would have been nice.

[2020-12-08 16:22] HappyNomad commented on #28
@jennyf19

[2020-12-08 19:32] jennyf19 commented on #28
@HappyNomad thanks for tagging me. do you have a repro you can provide that shows the error you mention (`System.IO.FileNotFoundException: 'The specified protocol is unknown. (Exception from HRESULT: 0x800C000D)`) ? Then I can figure out where to put a better error message. Also, would you mind opening an issue in [MSAL .NET](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/i

[2020-12-09 02:35] jennyf19 commented on #84
@keerthinathganjam you might want to check out this [documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-ios-considerations). specifically this [section](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-net-xamarin-ios-considerations#enable-keychain-access) on the keychain.

[2020-12-09 09:16] keerthinathganjam commented on #84
@jennyf19 I have follwed all the steps specified inthe document, but still getting the same error. Is there anything i need to do in the apple developer portal side?

[2020-12-09 17:28] jennyf19 commented on #84
@keerthinathganjam  you need to have an apple developer account, make sure everything is signed in correctly w/Visual Studio and XCode. Also, you might have to manually add the entitlements.plist - like shown [here](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/783#issuecomment-565616599)

[2020-12-10 08:37] keerthinathganjam commented on #84
![image](https://user-images.githubusercontent.com/12542938/101742372-7b4ae500-3af0-11eb-89e2-92f47f72b9cb.png)

Here is the screen shot of my visual studio xamarine project ios settings

![MicrosoftTeams-image (6)](https://user-images.githubusercontent.com/12542938/101743307-b2b99180-3af0-11eb-998f-dcf09dc65b6e.png)

Here is the error i am getting.

[2020-12-10 12:18] jennyf19 commented on #84
@keerthinathganjam b2c is not supported with the broker. Have you tried without?

[2020-12-10 14:35] keerthinathganjam commented on #84
@jennyf19 : I am not using B2C, its normal Azure AD Account only, where i am trying. I am able to work the same sample for Android , it works like a charm, I am able to login and get the Single signon work and in the azure as signin logs device id is also filled. The problem is only with IOS App Sinerio

[2020-12-10 16:31] jennyf19 commented on #84
@keerthinathganjam I see. this is a b2c sample, which is why i was confused. we have a [xamarin aad sample](https://github.com/Azure-Samples/active-directory-xamarin-native-v2/tree/master/2-With-broker/UserDetailsClient/UserDetailsClient.iOS), which uses broker, if you want to try that and see if it works. it's pretty tricky to get iOS up and working.

[2020-12-10 16:33] jennyf19 commented on #142
@fabiolg82 @alexanderdp thanks for letting us know. we will take a look.

[2020-12-10 16:36] jennyf19 commented on #141
@MichaelWytek are you using the standard or recommended version for the policy which is having issues?
![image](https://user-images.githubusercontent.com/19942418/101801034-ce0da800-3ac2-11eb-8e25-65fff3402a43.png)

[2020-12-11 05:45] keerthinathganjam commented on #84
@jennyf19 : Actually i am trying the sample which you have sent only may be il log an innsue under that repository.

[2020-12-11 17:06] jennyf19 commented on #84
@keerthinathganjam yes, let's log an issue over there, if you don't mind, and please tag me so i get a notification. thank you.

[2020-12-11 17:50] jennyf19 commented on #84
https://github.com/Azure-Samples/active-directory-xamarin-native-v2/issues/157

[2020-12-12 03:05] jennyf19 commented on #141
@MichaelWytek i wasn't able to repro this. it might be related to the above and if you are using the recommended or standard policy type.

[2020-12-12 18:30] jennyf19 commented on #142
this should be fixed on w/the master branch.
please re-open if this is not the case. thank you.

[2020-12-12 18:30] #142 closed

[2020-12-14 14:56] MichaelWytek commented on #141
@jennyf19 Im using the Standard policy, maybe u can find a problem on the screenshot below.
Please let me know if u need more informations about this.

![image](https://user-images.githubusercontent.com/42766183/102096239-c3d20d80-3e24-11eb-9fb6-ce8084ce8d95.png)

[2020-12-14 16:46] jennyf19 commented on #141
@MichaelWytek could you try updating to the recommended policy type?

[2020-12-15 14:31] MichaelWytek commented on #141
@jennyf19 Thanks for the input, I tried it now and its working again for me with the recommended policy type :D.

But I was able to reproduce the "Cant connect to the service you need right now" again with following steps, also with the recommended policy type:

- Login with my first IdentityProvider ("DF AD" which is displayed on the screenshot) => worked
- Logout
- Login with my first IdentityPr

[2020-12-15 18:11] jennyf19 commented on #141
@MichaelWytek interesting. thanks for the detailed investigation. Can you grab a correlation id for the request when the error occurs?

[2020-12-17 14:03] MichaelWytek commented on #141
I would like to do this but Im not quite sure what u mean with the correlation id :D.
No "real" exception occurs if this error happens.
Can you explain it to me what I need to do to get the correlation id of the request?
(AppInsights/AppCenter is configured if it helps)

[2020-12-28 16:08] GeorgeLeithead commented on #139
What second set of "scopes" did you pass in? (Also, can you confirm the first, as I too am having the NULL AccessToken problem, and need to call another API [also secured by the same B2C]).

[2020-12-31 22:58] Kasenga commented on #139
.
.
.

Hey George!
I was using MsGraph and a custom API.
The first access token for MsGraph worked just fine - I was seeing an issue when attempting to obtain a second access token for my custom API.
Turns out this results in a null token if you call acquireTokenSilent.
To get the second token, you will need to call acquireTokenInteractive.

[2021-01-14 10:12] amirvenus commented on #141
Is there any updates on this?
This is a showstopper for us at the moment

[2021-01-14 11:33] MichaelWytek commented on #141
@amirvenus
No, we implement a workaround in our app, if we found a solution I will let you know.

@jennyf19 do you have any other ideas? Or can I provide you some more informations to identify the problem?

[2021-01-14 14:16] amirvenus commented on #141
Could you please elaborate on the workaround you have used in your app?

[2021-01-14 17:14] henrik-me commented on #139
@jennyf19  @jmprieur : I think we should explore with the B2C team if we can catch the error and throw an interaction required exception, ensuring customers can use our regular call patterns. From my understanding this happens when the scope to the refresh token flow is not the same as originally used. Thoughts?

[2021-01-16 04:53] kberawala opened #145 "How to Hide the title bar in Android - for Login page"
For a xamarin forms app, is it possible to hide the title bar "My App" as show in the screen shot ?
I am using .WithUseEmbeddedWebView(true)

Thanks

![image](https://user-images.githubusercontent.com/13636878/104797550-9228d980-580a-11eb-8481-2e1e161aa801.png)

[2021-01-21 10:22] MichaelWytek commented on #141
Ok wrong words, no real workaround, we just use only local accounts for login. Its actually fine for the customer.

[2021-01-21 15:04] stanleywailers commented on #84
I am getting the same error when upload and test the IPA on AppCenter

![Captura de Pantalla 2021-01-21 a la(s) 09 03 29](https://user-images.githubusercontent.com/43071550/105368886-99b00000-5bc7-11eb-9e6c-b270528b3a3f.png)

This is my debug config

![Captura de Pantalla 2021-01-21 a la(s) 09 04 19](https://user-images.githubusercontent.com/43071550/105368984-b2b8b100-5bc7-11eb-97ba-564954ac9a23.

[2021-01-21 15:39] jmprieur commented on #139
@henrik-me : Would we want to change MSAL.NET so that a UIRequiredException is thrown in the B2C case, when no access token is returned?

[2021-01-22 00:07] jennyf19 commented on #141
@MichaelWytek you can get the correlation id from the [MSAL logs](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/wiki/logging), also can you provide your b2c tenant name?

[2021-01-25 09:11] jmprieur commented on #145
@kberawala : no it's not possible.

[2021-01-25 09:11] #145 closed

[2021-01-25 09:48] kberawala commented on #145
any alternative suggestion ?

[2021-01-25 14:14] MichaelWytek commented on #141
@jennyf19
Oh, thanks. Im getting no result or exception while im trying to logging.
So I set the correlation Id before I execute the logging like this: (hope this is correct)

![image](https://user-images.githubusercontent.com/42766183/105716330-f5a7bb00-5f1e-11eb-835f-a350cbdbf6e1.png)

Tried it with both flows (recommended & standard)
Standard:
correlationId: 7e618ed3-17f8-468e-ac36-4b6cacc03671

[2021-01-25 23:19] Kasenga commented on #139
Yes, @jmprieur, this would be ideal!!

[2021-01-25 23:36] jennyf19 commented on #141
thanks @MichaelWytek i've passed the information along to b2c team.

[2021-01-26 11:42] jmprieur commented on #139
I think a better idea would be for the service to return the exception (to do like AAD?)
Cc: @nickgmicrosoft

[2021-01-28 14:12] vardansargsyan92 commented on #81
Still getting this issue on IOS. WithLoginHint works only for UWP.

[2021-01-28 18:08] jennyf19 commented on #81
@vardansargsyan92 doing something like [this](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1731#issuecomment-658320529) doesn't work for you on iOS?

[2021-01-29 06:42] vardansargsyan92 commented on #81
Hello @jennyf19

Yes, you are correct. I am using that mechanism, but unfortunately, it does not work for IOS. And the thing that makes me sad, that whenever I search this issue, it says that this is a "Known" issue, but there is no proper workaround for fixing it. I understand that perhaps it is a big deal to fix it, but I think it is not big enough to hide this message from ordinary app users. I

[2021-01-29 17:27] jennyf19 commented on #81
@vardansargsyan92 it should only show in the UI if you use `.WithAccount()`, as MSAL pulls that account from the cache...agree that it's not ideal, but the workaround is what i posted above. The reasoning for this is also posted there, we have no way of knowing the preferred user name for b2c scenarios. In my previous testing, this was working on iOS and Android. Please open an issue in the [MSAL

[2021-02-01 07:22] vardansargsyan92 commented on #81
Hello @jennyf19. Thank you a lot for your response. Yes you are correct I am using `.WithAccount()` in the builder and it looks like this
`AuthenticationResult authResult = await Pca.AcquireTokenInteractive(_authConfig.Scopes)
                                                       .WithAccount(GetAccountByPolicy(accounts, _authConfig.SignInPolicy))

[2021-02-01 07:28] vardansargsyan92 commented on #81
Just forgot  to add about the scenario from which I get the "Wrong" username ))

1. Create an account in the Azure portal (Azure AD B2C User)
2. Run the [sample](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native)
3. Sign In using the "Forget Password" flow
4. Close the app
5. Remove the newly added user from the Azure portal
6. Re-run the app and try to sign in again.

[2021-02-02 01:55] jennyf19 commented on #81
@vardansargsyan92 thanks for all the details. You shouldn't lose any caching for not including .WithAccount in the interactive call. If you're removing the user, then yes, you'll have to sign in again, but if you didn't, the app will work, you'll get sso, especially with system browser. Let me know if you want more help w/this.

[2021-02-02 08:22] vardansargsyan92 commented on #81
Hello @jennyf19. Thank you a lot for your feedback.

[2021-02-11 15:54] peacefulvibes opened #147 "Can't get authentication to work w/ my own B2C tenant"
Hello - I have went through tutorial and just can't get the authentication to work w/ my own b2c tenant when clicking sign in on both iOS (Safari cannot open the page because the address in invalid) and Android (blank screen) when it calls IPublicClientApplication.AcquireTokenInteractive().  I must have something slightly off or misconfigured...?

For iOS - From the PublicClientApplicationBuilder

[2021-02-16 19:55] jakehockey10 opened #148 "Issues registering an application in the AAD B2C Portal."
Hello,

Thanks for the sample application.  We are having issues getting it to work with our b2c app registration however.  We originally followed several tutorials to get our actual application to use authentication with our b2c app registration.  But after not getting that to work, we moved to trying to get a sample application working.

Here are several tutorials we've followed:
- https://docs.

[2021-02-18 20:07] jennyf19 commented on #148
@jakehockey10 sorry to hear you're having so many issues w/the app registration.

to start, 1) can you git clone the [sample](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native) and 2) does it work for you out of the box? it should run as-is without any other user set-up.

Next, you can try creating a b2c test tenant, and then use those values in this same sample. https://docs.mi

[2021-02-18 20:19] jennyf19 commented on #147
@peacefulvibes does the sample work as-is (ex. w/out your own b2c tenant, but with the tenant and app info provided in the sample)?

for android, make sure to [update the scheme](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Droid/Properties/AndroidManifest.xml#L12) w/your clientid `msal{client_id}`.

what is your b2c tenant? d

[2021-02-18 20:57] jakehockey10 commented on #148
@jennyf19 Thanks for the response!

I cloned the repo and initially tried it with our b2c setup.  After stashing my changes and running the sample as-is, I do indeed successfully login with the Google provider just fine.

It might take me a while to the point where I can get another Azure subscription going and setup another B2C tenant.  I've been given admin permission to our official one tempora

[2021-02-18 21:13] jennyf19 commented on #148
@jakehockey10 These should be all the [steps](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native#optional-step-6-configure-the-visual-studio-project-with-your-app-coordinates) you need to get the sample working w/your own b2c tenant. Basically, you'll replace our configuration w/yours, and yes, it should still work. Android/iOS have some special things to configure, which i belie

[2021-02-18 21:19] jakehockey10 commented on #148
@jennyf19 I'm sorry if I'm misunderstanding.  But we followed these steps several times and the error we get is the one I've shared a screenshot of above.  I'm not sure how to diagnose the issue further than this point.  But after I create a brand new b2c tenant in my personal account and try it with that, I can ping you on here again.

One difference that will be apparent between my personal b2c

[2021-02-18 21:34] jennyf19 commented on #148
I think @nickgmicrosoft would be the one to help here, but feel free to ping me if your personal b2c tenant doesn't work.

[2021-02-20 06:12] peacefulvibes commented on #147
@jennyf19 thank you for the reply.  actually it was my configuration on the authentication settings on azure - I didn't have it checked.  Sheesh.  I knew it was something easy.   I was out in the weeds with having other redirect URIs in the Android and iOS sections ...

![image](https://user-images.githubusercontent.com/629163/108585826-792ab100-72ff-11eb-804b-ba172f5952fd.png)

[2021-02-20 06:12] #147 closed

[2021-02-20 17:16] jennyf19 commented on #147
@peacefulvibes yeah...the new UI is confusing, I agree. Will pass the feedback along to the right team. Glad you are unblocked.

[2021-02-24 12:38] MichaelWytek commented on #141
Hi, is there any update?

[2021-03-01 17:06] jakehockey10 commented on #148
@nickgmicrosoft Just wanted to make sure you saw this message?

[2021-03-01 21:57] blaineross opened #151 "Running solution gives error that 'Xamarin.Forms.Platform.Android.dll.mdb' file could not be found"
I have cloned the repo and I'm now trying to run the solution using the .Droid project within visual studio (2019, v 16.9. The setup says you will need 2017 but I could not even open the android project in 2017 successfully).

On running up the emulator I get an error -

`Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not find file 'C:\...\active-directory-b2c-xamarin-n

[2021-03-02 18:39] jakehockey10 commented on #148
@jennyf19 any chance we could get someone else to respond?  I'm not convinced @nickgmicrosoft is checking these notifications at all.

[2021-03-03 04:07] endintiers opened #152 "Assumption that policy name does not contain '.'"
In: https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Core/Features/LogOn/B2CAuthenticationService.cs
At line 129: `string userIdentifier = account.HomeAccountId.ObjectId.Split('.')[0];`

This assumes that the ObjectId, which is {policyName}.{tenantId} does not contain the character '.' except between the policy name and the tenant

[2021-03-03 13:38] jmprieur commented on #152
@jennyf19 FYI

[2021-03-03 13:46] endintiers commented on #152
I have been reading the Microsoft.Identity.Client code. All through there, when dealing with Accounts, there are things like:
`string[] elements = str.Split('.');`
And then the code assumes that there will be 2 and only 2 elements.

So probably the easy solution is to document: "Don't use '.' in your B2C flow names"

[2021-03-03 14:03] endintiers commented on #152
I mentioned it here as well: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/2444

[2021-03-03 14:15] jmprieur commented on #152
Thanks @endintiers

[2021-03-03 18:39] nickgmicrosoft commented on #148
Can you try a few things:
- If you run the user flow from the "run now" experience, do you get the same error? See [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-user-flows#test-the-user-flow). Ensure that that the application selected is the one you intend to use:
<img width="1675" alt="runuser" src="https://user-images.githubusercontent.com/58957441/109855055-

[2021-03-03 19:22] jakehockey10 commented on #148
@nickgmicrosoft - For some reason, the application registration is not available in the dropdown when I go to test the user flow.  Other registered applications that I'm the owner of do appear in this dropdown, but the application registration we created for the mobile app will not show up in the dropdown.

Testing the user flow with other application registrations does work.  And we do use this s

[2021-03-03 19:28] nickgmicrosoft commented on #148
Interesting. So it does sound like there is an issue with the app registration. Are you using the Applications or App registrations blade to register the application? Can you use the App registrations blade to create a new app from scratch that's identical to your existing one and see if that shows up in the user flow menu?

If you can send me the app registration manifest, that would be helpful.

[2021-03-03 20:14] jakehockey10 commented on #148
@nickgmicrosoft Thanks for the response.

We've tried creating app registrations both with the legacy Applications section as well as the newer App App Registrations blade.  Both gave us issues.  However, since we've last looked at this, I see an app registration with a name and configuration that seems like someone else in the company is trying this for the same application (I'm not the owner of

[2021-03-03 20:17] jakehockey10 commented on #148
We've also tried different platform settings:
![image](https://user-images.githubusercontent.com/1821383/109866647-be65b180-7c22-11eb-975f-3e041b9af546.png)
We have tried the Mobile and Desktop Applications platform as well as the Android platform.  Both have given us issues in the past.  But which one would you suggest we use moving forward?

[2021-03-03 20:22] jakehockey10 commented on #148
For now, I chose the Mobile and desktop applications platform and I get directed to the right user flow, and upon completion of the user flow, I never get redirected back to the application in the emulator.  The browser just stays at this url upon the completion of the user flow: https://login.microsoftonline.com/kmsi

[2021-03-03 22:59] nickgmicrosoft commented on #148
I see. So this is a different issue from the original correct? Still trying to figure out why your original app was throwing the error of 'app can't be found in tenant'. Can you email me the app manifest file for that problematic app to ```edgomezc at microsoft dot com```

[2021-03-03 23:02] nickgmicrosoft commented on #148
For the "why doesn't it redirect back to my app" - can you try this on a real device? Helps specify whether the issue is due to emulation. Email me some details and we can open a new github issue if that's where you're stuck (since it's diff from thsi thread).

[2021-03-03 23:40] jakehockey10 commented on #148
@nickgmicrosoft yea this seems like different behavior than the original issue, but this is pretty consistent with our findings so far.  Each time we start over with a new application registration, we seem to run into different issues.

I'll email you with the information you've requested, and I'm going to cc my colleague as well so he can keep track of the conversation as well.

[2021-03-04 18:02] jakehockey10 commented on #148
@nickgmicrosoft - I emailed you some more data points on testing with a real mobile phone through usb debugging.  The outcomes are similar to what we see in the emulator.  Looking forward to hearing back from you, and please let me know if there is any other information I can provide

[2021-03-08 14:28] jmprieur commented on #151
@trwalke : would you have an idea?

[2021-03-08 18:09] trwalke commented on #151
This is due to issues with the underlying Xamarin/VS components.
I would recommend:

1) Update VS 2019 to the latest
2) Delete bin and obj files
3) restart PC if the above does not work

[2021-03-10 07:38] nickgmicrosoft commented on #148
The issue was that the app registration had the wrong audience, it should be “Accounts in any identity provider or organizational directory (for authenticating users with user flows)”. See [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/app-registrations-training-guide#new-supported-account-types) for more info. You may have switched to a difference audience type during creation

[2021-03-10 07:40] nickgmicrosoft commented on #148
Closing this issue as the above addressed the "The provided application ID is not valid against this service." For other inquiries/issues, please open new tickets.

[2021-03-10 07:40] #148 closed

[2021-03-15 13:19] jmprieur commented on #151
Thanks @trwalke
@blaineross did this solve your issue?

[2021-03-15 16:42] trwalke commented on #151
One last thing @blaineross, Make sure you place the sample in a relatively short directory path like C:/B2C_Sample or something similar. sometimes the build will fail because some of the files being referenced may have a file path length that exceeds the windows limit. (256)

[2021-03-20 07:52] Rabosa616 commented on #139
Hi all,
I've had the same problem I have and application that needs to call 3 apis.
1st call I do it like this:

[code]
then the other 2 times I do the same but in the interactive part instead of calling it with .WithPrompt(Prompt.SelectAccount) I call it with .WithPrompt(Prompt.Consent) like this:

[code]
The result in the UI is:
1st call user enter credentials
2nd and 3rd call user does not do a

[2021-05-24 03:25] kberawala opened #156 "Is there an ability to skip the attribute collection page after signing in with social login ?"
I have enabled social login with facebook, google  and apple.

on submitting for review apple asked to remove the additional step that collects the additional attributes after sign-in with apple. In general, we are not collecting the additional attributes other than email/firstname and lastname which is already part of the token.

Is it possible to skip the attribute collection page, so user can s

[2021-06-07 08:02] jmprieur commented on #156
@nickgmicrosoft can you please answer?

[2021-06-16 12:15] bgavrilMS commented on #156
Hi @kberawala - the best path forward is to open a support case from the Azure portal about this problem. The Identity SDK has nothing to do with attribute collection, this is all server side configuration.

[2021-06-16 12:15] #156 closed

[2021-07-14 14:30] pkvaranasi opened #159 "Doesn't work with Broker apps"
Hi,
I had tried this solution with the latest Microsoft.Identity.Client - 4.34.0., with Xamarin Forms - 4.8.0.1451.
We had configured the Azure B2C tenant and the whole solution is working fine without brokers - Microsoft Authenticator app.
When using ".WithBroker()", we are getting to see "cannot_invoke_broker" error., and says the Redirect Uri is invalid.

Any thoughts of how to use B2C and supp

[2021-07-14 15:06] jennyf19 commented on #159
@pkvaranasi The Broker does not support B2C, so this will not work.

closing as by-design.

[2021-07-14 15:06] #159 closed

[2021-07-14 15:07] jennyf19 commented on #152
@endintiers this has been fixed a few releases ago. should be working now. please reopen if you still have issues.

[2021-07-14 15:07] #152 closed

[2021-07-14 22:58] stemoor opened #160 "Running the Android Project results in exception"
Hi,

I cloned the repo and tried running the android project without any modifications to the code. However, I get the following error:
![image](https://user-images.githubusercontent.com/26838556/125703332-ef793c42-34eb-4737-ad06-dab192aae8ad.png)
Any ideas?

[2021-07-15 08:13] jmprieur commented on #160
Did you clone the repo in a folder close to the root of your hard drive, @stemoor ?
this might be due to windows path length limit?

[2021-07-15 17:18] stemoor commented on #160
No I did not. I fixed it to be in C: and it worked. Thanks!!

[2021-07-15 17:18] #160 closed

[2021-07-16 21:54] stmoor opened #161 "Error when trying to sign in after replacing all constatns"
Hi,

I get the following error when I try to sign in after replacing all the constants. I have tripled checked and they are correct, in fact I use them in another sample and they work there.

Here is the screenshot of the error
![image](https://user-images.githubusercontent.com/77985069/126012029-7d2bf377-0bf0-4480-bba0-80d39c28f296.png)

It says "The resource you are looking for has been removed,

[2021-08-06 09:51] nickjacka commented on #131
Hi

I am trying to get the authentication working with AD B2C, an Azure Functions app and MSAL for Android using this example and my environments details but whenever I try to access the Functions API endpoints with the supplied access token I get a 401 error. I have recreated my app registrations multiple times using the instructions recommended in this thread as well as from other sites but I ge

[2021-09-07 02:17] jmprieur commented on #161
@stmoor in which context do you use the strings?
Are you sure of your instance, and tenant ID?

Anything you could share?

[2021-09-28 21:46] jennyf19 commented on #161
Did you change [this](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Droid/MsalActivity.cs#L15) to match your client id? and possibly [here](https://github.com/Azure-Samples/active-directory-b2c-xamarin-native/blob/master/UserDetailsClient/UserDetailsClient.Droid/Properties/AndroidManifest.xml#L12) as well

[2022-01-20 00:54] plettb opened #170 "Turn it into a NuGet?"
I wonder if there's been any consideration given to turning the code in "active-directory-b2c-xamarin-native/UserDetailsClient/UserDetailsClient.Core/Features/LogOn" (especially "B2CAuthenticationService") into a NuGet?  I find myself copying this code around and it would be so nice if I could simply reference a library instead.

[2022-01-31 14:32] Rathish100 commented on #137
Any update on this Issue? Any solution for this ?

[2022-05-03 03:37] crankyc0der opened #174 "Broken links in README.md"
There are three links in `README.md` to Azure AD B2C for instructions on creating a tenant, policies, etc., which are redirecting to pages which display a "404 – Page not found" heading when I follow them:

- [those instructions](https://azure.microsoft.com/documentation/articles/active-directory-b2c-get-started/) redirects to https://docs.microsoft.com/en-au/api/Redirect/en-au/documentation/artic

[2022-05-09 08:20] flacidsnake opened #175 "Catch Forget event"
Hi,

Is there any way to catch/intercept when the user clicks on "Forget" on an account from the Azure UI running on a WebView?

Thanks in advance

[2022-05-12 11:36] PeterSomosDF commented on #141
Hi! I've taken over the implementation of our app from Michael Wytek.
Unfortunately the problem still exists. We've already had many discussions with Azure AD Support regarding this issue, and the outcome was, that everything is going well from the Authentication side. They believe, that there must be some kind of problem with the library.
We would much appreciate some kind of update from your sid

[2022-05-12 18:50] jennyf19 commented on #141
@PeterSomosDF Using the latest MSAL.NET version, we would need the same information as above, the correlationID from a failed request, assuming the b2c tenant is the same.
@SameerK-MSFT can you take a look from the MSAL side? I was not able to repro.

@nickgmicrosoft can you help from the B2C side? thanks.

[2022-05-22 09:47] sgnanajothi commented on #28
Hi @matgutschow ...I am new to this azure directory login.... I saw your comments above. What should I need to do to resolve this issue??? Please help....login is happening by enabling the proxy/fiddler

[2022-05-22 09:48] sgnanajothi commented on #28
I m developing xamarin forms UWP application.... should I need to do any change in code

[2022-05-26 03:55] kiranbasvaraj opened #177 "GetAccountsAsync is returning o accounts and AcquireTokenSilent is not returning token."
We have two Xamarin Forms projects example App1 and App2.
1.In App1 a user is logged in using some@mail.id.
2.In App2 we are implementing single sign-on(SSO) and we are using same ClientId,Keychain,AuthoritySignIn,RedriectURL,Extraparm in PublicClientApplicationBuilder builder.
Issue: in App 2 GetAccountsAsync is returning o accounts and  AcquireTokenSilent is not returning token.

Expected behavi

[2022-06-29 16:09] jennyf19 commented on #141
@SameerK-MSFT FYI ^

[2022-11-01 11:17] Surfrat opened #186 "UWP - 'We can't connect...' error. Android and iOS run perfectly."
Hi,

I have setup MSAL with your test application for my Google, MS and Local accounts. All operations across all platforms work perfectly except UWP MS login.

I believe this is a configuration problem so I have included verbose logs and screen shots of my setup.

Points of interest:
1. Everything works with your default values for Local, MS and Google accounts on UWP, Android and iOS platforms.